/* Empty. Add your own CSS if you like */
.stylish-input-group .input-group-addon{
    background: white !important; 
}
.stylish-input-group .form-control{
    border-right: -1px !important; 
	box-shadow:0 0 0; 
	border-color:#ccc;
}
.stylish-input-group button{
    border:1px;
    background:transparent;
}

.title-text{
    font-size: 30px;
    font-weight: 600;
    margin-top: 5%;
    color: #252b34;
}