/*doservice section css*/
.doservice .main_doservice .single_doservice .single_doservice_img img{
    width:100%;
}
.doservice .main_doservice .single_doservice .single_doservice_acording{}
.doservice .main_doservice .single_doservice .single_doservice_acording .panel-default>.panel-heading {
    color: #333;
    background-color: transparent;
    border-color: #ddd;
}
textarea:focus { 
    border-bottom-color: #c1755fa1;
}
input:focus { 
    border-bottom-color: #c1755fa1;
}
.panel-heading{
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    padding: 12px 15px;
}
.panel-group .panel {
    border-radius: 0px;
    margin-bottom: 20px;
}
.doservice{
    padding-bottom: 75px;
	padding-top: 40px;
	
}
.doservice .main_doservice .single_doservice .single_doservice_acording .panel-title>a {
    color: #333333;
    display:block;
    text-transform: uppercase;
}
.doservice .main_doservice .single_doservice .single_doservice_acording .panel-title a i{
    color: #f69f84;
    font-size: 1.575rem;
    display: inline-block;
    margin-right: 15px;
}
.doservice .main_doservice .single_doservice .single_doservice_acording .panel-title a i.fa-chevron-down{
    float:right;
    margin-right: 0px;
}



.active{
    color: snow !important;
	
	padding-bottom: 10px;
}

.contactForm{
    background-color: white;
    opacity: 0.9;
    border-radius: 30px;
}