<div class="m-content">
  <div class="m-portlet m-portlet--tab">
    <div class="m-portlet__head">
      <div class="m-portlet__head-caption">
        <div class="m-portlet__head-title">
          <span class="m-portlet__head-icon m--hide">
            <i class="la la-gear"></i>
          </span>
          <h3 class="m-portlet__head-text">
            Create NOS - {{formName}}
          </h3>
        </div>
      </div>
    </div>
    <!--begin::Form-->
    <div *ngIf="generalDetails">
      <form class="m-form m-form--fit" [formGroup]="generalDetailsForm">
        <div class="m-portlet__head">
          <div class="m-portlet__head-caption">
            <span class="m-portlet__head-icon m--hide">
              <i class="la la-gear"></i>
            </span>
            <div class="form-group m-form__group row">
              <label for="example-text-input" class="col-4 col-form-label">
                Upload the NOS Excel Document according to the tamplate
              </label>
              <div class="custom-file col-8">
                <div>
                  <!-- <input #fileInput type="file" class="custom-file-input" id="customFile" (change)="onFileChange($event)">
                  <label class="custom-file-label" for="customFile">
                    {{file.name}}
                  </label> -->
                  <!-- <input type="file" style="display: inline-block;" (change)="incomingfile($event)" placeholder="Upload file" accept=".xlsx"> -->

                </div>
                <div>
                  <!-- <button type="button" class="btn btn-info" (click)="uploadFile()">Add file and Load</button> -->
                  <button type="button" class="btn btn-info" (click)="Upload()">Upload</button>
                  <button type="button" class="btn btn-outline-info">Download Template</button>
                </div>
                <!-- <div class="col-2"></div> -->
              </div>
            </div>
          </div>
        </div>
        <div class="m-portlet__body">
          <div class="form-group m-form__group row">
            <label for="example-text-input" class="col-4 col-form-label">
              Sector NOS
            </label>
            <div class="col-8">
              <input class="form-control m-input" type="text" placeholder="Sector Requesting Name">
            </div>
          </div>
        </div>
        <div class="form-group m-form__group row">
          <label for="example-search-input" class="col-4 col-form-label">
            Choose Sub Sector
          </label>
          <div class="col-8">
            <select class="form-control m-input m-input--square" formControlName="subSectorName">
              <option disabled [value]="undefined" [selected]="true">Select A Sub-Sector</option>
              <option *ngFor="let sector of subSectors" [ngValue]="sector">{{sector.qp}}</option>
            </select>
          </div>
        </div>
        <div class="form-group m-form__group row">
          <label for="example-search-input" class="col-4 col-form-label">
            Enter Unit Code (NOS Code)
          </label>
          <div class="col-8">
            <input class="form-control m-input" type="text" placeholder="Enter the Unit Code" formControlName="unitCode">
          </div>
        </div>
        <div class="form-group m-form__group row">
          <label for="example-email-input" class="col-4 col-form-label">
            Enter Credits
          </label>
          <div class="col-8">
            <input class="form-control m-input" type="email" placeholder="Enter the Credits" formControlName="credits">
          </div>
        </div>
        <div class="form-group m-form__group row">
          <label for="example-url-input" class="col-4 col-form-label">
            Unit Title
          </label>
          <div class="col-8">
            <input class="form-control m-input" type="text" placeholder="Enter the Unit Title or the Task Title" formControlName="unitTitle">
          </div>
        </div>
        <div class="form-group m-form__group row">
          <label for="example-password-input" class="col-4 col-form-label">
            Description of the Occupational Standard
          </label>
          <div class="col-8">
            <textarea class="form-control m-input" placeholder="Enter description of personal attributes required for the job role" formControlName="descriptionOfOccupationalStandard">
            </textarea>
          </div>
        </div>
        <div class="form-group m-form__group row">
          <label for="example-password-input" class="col-4 col-form-label">
            Scope of the Occupational Standard
          </label>
          <div class="col-8">
            <textarea class="form-control m-input" placeholder="Enter description of personal attributes required for the job role" formControlName="scopeOfOccupationalStandard"
              [(ngModel)]="NOSData.scopeOfOccupationalStandard"></textarea>
          </div>
        </div>
        <div class="m-portlet__foot m-portlet__foot--fit">
          <div class="m-form__actions">
            <button type="reset" class="btn btn-info" (click)="onSave('pCriteria')">
              Save & Continue
            </button>
          </div>
        </div>
      </form>
    </div>

    <div *ngIf="pCriteria">
      <form class="m-form m-form--fit" [formGroup]="performanceCriteriaForm">
        <div class="form-group m-form__group" formArrayName="performanceValues" *ngFor="let items of performanceCriteriaForm.get('performanceValues').controls; let i=index">
          <div class="form-group m-form__group row">
            <label for="example-text-input" class="col-4 col-form-label">
              {{i+1}}. Performance Criteria
              <span *ngIf="i === 0">*</span>
            </label>
            <div class="col-8" [formGroupName]="i">
              <input class="form-control m-input" type="text" formControlName="pcDescription" placeholder="Enter Performance Criteria">
            </div>
          </div>
        </div>
        <div class="m-portlet__body">
          <button class="btn btn-outline-info" (click)="addRowsForPerformanceForm()">Add another Criteria</button>
        </div>
        <div class="m-portlet__foot m-portlet__foot--fit">
          <div class="m-form__actions">
            <button class="btn btn-outline-info" (click)="categoriseElements('pCriteria')">+ Categorise under Elements</button>
            <button type="reset" class="btn btn-info" (click)="onSave('knowledgeUnderstanding')">
              Save & Continue to Next Step
            </button>
          </div>
        </div>
      </form>
    </div>

    <div *ngIf="performanceCriteriaElementGrouping">
      <div class="m-portlet__head" [formGroup]="performanceCriteriaElementGroupingForm">
        <div class="m-portlet__head-caption" formArrayName="performanceCriteriaElements">
          <span class="m-portlet__head-icon m--hide">
            <i class="la la-gear"></i>
          </span>
          <div class="form-group m-form__group row" *ngFor="let pcElements of performanceCriteriaElementGroupingForm.get('performanceCriteriaElements').controls; let i = index;">
            <label for="example-text-input" class="col-4 col-form-label">
              {{i+1}}. Enter the Name of the Element
            </label>
            <div class="col-8" [formGroupName]="i">
              <div>
                <input class="form-control m-input" type="text" placeholder="Enter Name of the Element" formControlName="element">
              </div>
              <label class="col-6 col-form-label" style="margin-left: -54%;">
                Grouped Performance Criteria:
              </label>
              <div class="col-8" style="margin-top: -6%;">
                <div class="m-checkbox-inline">
                  <label formArrayName="performaceCriteriaValues" *ngFor="let ele of pcElements.get('performaceCriteriaValues').controls; let j = index;">
                    <label class="m-checkbox" [formGroupName]="j">
                      <input type="checkbox" formControlName="pcDescription" value="true"> {{elementGrpoupingCheckBoxes.performanceValues[j].pcDescription}}
                      <span></span>
                    </label>
                  </label>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <button type="submit" class="btn btn-outline-info" (click)="addNewElement()">Add Another Element</button>
      <button type="submit" class="btn btn-info" (click)="onSave('knowledgeUnderstanding')"> Save & Continue to Next Step </button>
    </div>

    <div *ngIf="knowledgeUnderstanding">
      <div class="m-portlet__body">
        <ul class="nav nav-pills nav-fill" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#organizational">
              Organizational Context
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#technical" #technical>
              Technical Knowledge
            </a>
          </li>
          <li class="nav-item">
          </li>
          <li class="nav-item">
          </li>
          <li class="nav-item"></li>
        </ul>
      </div>

      <div class="tab-content">
        <div class="tab-pane active" role="tabpanel" id="organizational">
          <form class="m-form m-form--fit" [formGroup]="organizationalContextForm">
            <div class="form-group m-form__group">
              <b>A. Organizational Context(</b>Knowledge of the Company / Organizational Context
              <b>)</b>
            </div>
            <div class="form-group m-form__group" formArrayName="organizationalContextValues" *ngFor="let items of organizationalContextForm.get('organizationalContextValues').controls; let i=index">
              <div class="form-group m-form__group row">
                <label for="example-text-input" class="col-4 col-form-label">
                  {{i+1}}. Knowledge Criteria
                  <span *ngIf="i === 0">*</span>
                </label>
                <div class="col-8" [formGroupName]="i">
                  <input class="form-control m-input" type="text" formControlName="ocValues" placeholder="Enter the Knowledge Criteria of the Organizational Form">
                </div>
              </div>
            </div>
            <button class="btn btn-outline-info" [disabled]="!organizationalContextForm.valid" (click)="addRowsForOrganizationalContext()">Add another Criteria</button>
            <div class="m-portlet__foot m-portlet__foot--fit">
              <div class="m-form__actions">
                <button type="reset" class="btn btn-info" (click)="onSave('technical')">
                  Save & Continue to Next Step
                </button>
              </div>
            </div>
          </form>
        </div>

        <div class="tab-pane" role="tabpanel" id="technical">
          <form class="m-form m-form--fit" [formGroup]="technicalKnowledgeForm">
            <div class="form-group m-form__group">
              <b>B. Technical Knowledge</b>
            </div>
            <div class="form-group m-form__group" formArrayName="technicalKnowledgeValues" *ngFor="let items of technicalKnowledgeForm.get('technicalKnowledgeValues').controls; let i=index">
              <div class="form-group m-form__group row">
                <label for="example-text-input" class="col-4 col-form-label">
                  {{i+1}}. Knowledge Criteria
                  <span *ngIf="i === 0">*</span>
                </label>
                <div class="col-8" [formGroupName]="i">
                  <input class="form-control m-input" type="text" formControlName="tkValues" placeholder="Enter the Knowledge Criteria of the Organizational Form">
                </div>
              </div>
            </div>
            <button class="btn btn-outline-info" [disabled]="!technicalKnowledgeForm.valid" (click)="addRowsForTechnicalKnowledge()">Add another Criteria</button>
            <div class="m-portlet__foot m-portlet__foot--fit">
              <div class="m-form__actions">
                <button type="reset" class="btn btn-info" (click)="onSave('genericSkills')">
                  Save & Continue to Next Step
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>

    <div *ngIf="genericSkills">
      <div class="m-portlet__body">
        <ul class="nav nav-pills nav-fill" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#writingSkills">
              Writing Skills
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#readingSkills" #readingSkills>
              Reading Skills
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#oralCommunication" #oralCommunication>
              Oral Communication
            </a>
          </li>
          <li class="nav-item">
          </li>
          <li class="nav-item"></li>
        </ul>
      </div>
      <div class="tab-content">
        <!-- <div class="tab-pane active" role="tabpanel" id="organizational"> -->
        <div class="tab-pane active" role="tabpanel" id="writingSkills">
          <form class="m-form m-form--fit" [formGroup]="writingSkillsForm">
            <div class="form-group m-form__group">
              <b>A. Writing Skills</b>
            </div>
            <div class="form-group m-form__group" formArrayName="writingSkillsValues" *ngFor="let items of writingSkillsForm.get('writingSkillsValues').controls; let i=index">
              <div class="form-group m-form__group row">
                <label for="example-text-input" class="col-4 col-form-label">
                  {{i+1}}. Knowledge Criteria
                  <span *ngIf="i === 0">*</span>
                </label>
                <div class="col-8" [formGroupName]="i">
                  <input class="form-control m-input" type="text" formControlName="wsValues" placeholder="Enter the Knowledge Criteria of the Organizational Form">
                </div>
              </div>
            </div>
            <button class="btn btn-outline-info" [disabled]="!writingSkillsForm.valid" (click)="addRowsForWritingSkills()">Add another Criteria</button>
            <div class="m-portlet__foot m-portlet__foot--fit">
              <div class="m-form__actions">
                <button type="reset" class="btn btn-info" (click)="onSave('readingSkills')">
                  Save & Continue to Next Step
                </button>
                <button class="btn btn-outline-info" (click)="onSkip('readingSkills')">Skip</button>
              </div>
            </div>
          </form>
        </div>

        <!-- <div *ngIf="readingSkills"> -->
        <div class="tab-pane" role="tabpanel" id="readingSkills">
          <form class="m-form m-form--fit" [formGroup]="readingSkillsForm">
            <div class="form-group m-form__group">
              <b>B. Reading Skills</b>
            </div>
            <div class="form-group m-form__group" formArrayName="readingSkillsValues" *ngFor="let items of readingSkillsForm.get('readingSkillsValues').controls; let i=index">
              <div class="form-group m-form__group row">
                <label for="example-text-input" class="col-4 col-form-label">
                  {{i+1}}. Knowledge Criteria
                  <span *ngIf="i === 0">*</span>
                </label>
                <div class="col-8" [formGroupName]="i">
                  <input class="form-control m-input" type="text" formControlName="rsValues" placeholder="Enter the Knowledge Criteria of the Organizational Form">
                </div>
              </div>
            </div>
            <button class="btn btn-outline-info" float="right" [disabled]="!readingSkillsForm.valid" (click)="addRowsForReadingSkills()">Add another Criteria</button>
            <div class="m-portlet__foot m-portlet__foot--fit">
              <div class="m-form__actions">
                <button type="reset" class="btn btn-info" (click)="onSave('oralCommunication')">
                  Save & Continue to Next Step
                </button>
                <button class="btn btn-outline-info" (click)="onSkip('oralCommunication')">Skip</button>
              </div>
            </div>
          </form>
        </div>
        <!-- </div> -->


        <!-- <div *ngIf="oralCommunication"> -->
        <div class="tab-pane" role="tabpanel" id="oralCommunication">
          <form class="m-form m-form--fit" [formGroup]="oralCommunicationForm">
            <div class="form-group m-form__group">
              <b>C. Oral Communication</b>
            </div>
            <div class="form-group m-form__group" formArrayName="oralCommunicationValues" *ngFor="let items of oralCommunicationForm.get('oralCommunicationValues').controls; let i=index">
              <div class="form-group m-form__group row">
                <label for="example-text-input" class="col-4 col-form-label">
                  {{i+1}}. Knowledge Criteria
                  <span *ngIf="i === 0">*</span>
                </label>
                <div class="col-8" [formGroupName]="i">
                  <input class="form-control m-input" type="text" formControlName="ocValues" placeholder="Enter the Knowledge Criteria of the Organizational Form">
                </div>
              </div>
            </div>
            <button class="btn btn-outline-info" [disabled]="!oralCommunicationForm.valid" (click)="addRowsForOralCommunication()">Add another Criteria</button>
            <div class="m-portlet__foot m-portlet__foot--fit">
              <div class="m-form__actions">
                <button type="reset" class="btn btn-info" (click)="onSave('professionalSkills')">
                  Save & Continue to Next Step
                </button>
                <button class="btn btn-outline-info" (click)="onSkip('professionalSkills')">Skip</button>
              </div>
            </div>
          </form>
        </div>
        <!-- </div> -->
      </div>
    </div>

    <div *ngIf="professionalSkills">
      <div class="m-portlet__body">
        <ul class="nav nav-pills nav-fill" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#decision">
              Decision Making
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#plan" #plan>
              Plan & Organise
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#customerCentricity" #customerCentricity>
              Customer Centricity
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#problemSolving" #problemSolving>
              Problem Solving
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#analyticalThinking" #analyticalThinking>
              Analytical Thinking
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#criticalThinking" #criticalThinking>
              Critical Thinking
            </a>
          </li>
        </ul>
      </div>

      <div class="tab-content">
        <div class="tab-pane active" role="tabpanel" id="decision">
          <form class="m-form m-form--fit" [formGroup]="decisionMakingForm">
            <div class="form-group m-form__group">
              <b>A. Decision Making </b>
            </div>
            <div class="form-group m-form__group" formArrayName="decisionMakingValues" *ngFor="let items of decisionMakingForm.get('decisionMakingValues').controls; let i=index">
              <div class="form-group m-form__group row">
                <label for="example-text-input" class="col-4 col-form-label">
                  {{i+1}}. Skill Criteria
                  <span *ngIf="i === 0">*</span>
                </label>
                <div class="col-8" [formGroupName]="i">
                  <input class="form-control m-input" type="text" formControlName="dmValues" placeholder="Enter the Knowledge Criteria of the Organizational Form">
                </div>
              </div>
            </div>
            <button class="btn btn-outline-info" float="right" [disabled]="!decisionMakingForm.valid" (click)="addRowsForDecisionMaking()">Add another Criteria</button>
            <div class="m-portlet__foot m-portlet__foot--fit">
              <div class="m-form__actions">
                <button type="reset" class="btn btn-info" (click)="onSave('plan')">
                  Save & Continue to Next Step
                </button>
                <button class="btn btn-outline-info" (click)="onSkip('plan')">Skip</button>
              </div>
            </div>
          </form>
        </div>

        <div class="tab-pane" role="tabpanel" id="plan">
          <form class="m-form m-form--fit" [formGroup]="planAndOrganizeForm">
            <div class="form-group m-form__group">
              <b>B. Plan & Organize* </b>
            </div>
            <div class="form-group m-form__group" formArrayName="planAndOrganizeValues" *ngFor="let items of planAndOrganizeForm.get('planAndOrganizeValues').controls; let i=index">
              <div class="form-group m-form__group row">
                <label for="example-text-input" class="col-4 col-form-label">
                  {{i+1}}. Skill Criteria
                  <span *ngIf="i === 0">*</span>
                </label>
                <div class="col-8" [formGroupName]="i">
                  <input class="form-control m-input" type="text" formControlName="poValues" placeholder="Enter the Knowledge Criteria of the Organizational Form">
                </div>
              </div>
            </div>
            <button class="btn btn-outline-info" float="right" [disabled]="!planAndOrganizeForm.valid" (click)="addRowsForPlanAndOrganize()">Add another Criteria</button>
            <div class="m-portlet__foot m-portlet__foot--fit">
              <div class="m-form__actions">
                <button type="reset" class="btn btn-info" (click)="onSave('customerCentricity')">
                  Save & Continue to Next Step
                </button>
                <button class="btn btn-outline-info" (click)="onSkip('customerCentricity')">Skip</button>
              </div>
            </div>
          </form>
        </div>

        <div class="tab-pane" role="tabpanel" id="customerCentricity">
          <form class="m-form m-form--fit" [formGroup]="customerCentricityForm">
            <div class="form-group m-form__group">
              <b>C. Customer Centricity </b>
            </div>
            <div class="form-group m-form__group" formArrayName="customerCentricityValues" *ngFor="let items of customerCentricityForm.get('customerCentricityValues').controls; let i=index">
              <div class="form-group m-form__group row">
                <label for="example-text-input" class="col-4 col-form-label">
                  {{i+1}}. Skill Criteria
                  <span *ngIf="i === 0">*</span>
                </label>
                <div class="col-8" [formGroupName]="i">
                  <input class="form-control m-input" type="text" formControlName="ccValues" placeholder="Enter the Knowledge Criteria of the Organizational Form">
                </div>
              </div>
            </div>
            <button class="btn btn-outline-info" float="right" [disabled]="!customerCentricityForm.valid" (click)="addRowsForCustomerCentricity()">Add another Criteria</button>
            <div class="m-portlet__foot m-portlet__foot--fit">
              <div class="m-form__actions">
                <button type="reset" class="btn btn-info" (click)="onSave('problemSolving')">
                  Save & Continue to Next Step
                </button>
                <button class="btn btn-outline-info" (click)="onSkip('problemSolving')">Skip</button>
              </div>
            </div>
          </form>
        </div>

        <div class="tab-pane" role="tabpanel" id="problemSolving">
          <form class="m-form m-form--fit" [formGroup]="problemSolvingForm">
            <div class="form-group m-form__group">
              <b>D. Problem Solving </b>
            </div>
            <div class="form-group m-form__group" formArrayName="problemSolvingValues" *ngFor="let items of problemSolvingForm.get('problemSolvingValues').controls; let i=index">
              <div class="form-group m-form__group row">
                <label for="example-text-input" class="col-4 col-form-label">
                  {{i+1}}. Skill Criteria
                  <span *ngIf="i === 0">*</span>
                </label>
                <div class="col-8" [formGroupName]="i">
                  <input class="form-control m-input" type="text" formControlName="psValues" placeholder="Enter the Knowledge Criteria of the Organizational Form">
                </div>
              </div>
            </div>
            <button class="btn btn-outline-info" float="right" [disabled]="!problemSolvingForm.valid" (click)="addRowsForProblemSolving()">Add another Criteria</button>
            <div class="m-portlet__foot m-portlet__foot--fit">
              <div class="m-form__actions">
                <button type="reset" class="btn btn-info" (click)="onSave('analyticalThinking')">
                  Save & Continue to Next Step
                </button>
                <button class="btn btn-outline-info" (click)="onSkip('analyticalThinking')">Skip</button>
              </div>
            </div>
          </form>
        </div>

        <div class="tab-pane" role="tabpanel" id="analyticalThinking">
          <form class="m-form m-form--fit" [formGroup]="analyticalThinkingForm">
            <div class="form-group m-form__group">
              <b>E. Analytical Thinking </b>
            </div>
            <div class="form-group m-form__group" formArrayName="analyticalThinkingValues" *ngFor="let items of analyticalThinkingForm.get('analyticalThinkingValues').controls; let i=index">
              <div class="form-group m-form__group row">
                <label for="example-text-input" class="col-4 col-form-label">
                  {{i+1}}. Skill Criteria
                  <span *ngIf="i === 0">*</span>
                </label>
                <div class="col-8" [formGroupName]="i">
                  <input class="form-control m-input" type="text" formControlName="atValues" placeholder="Enter the Knowledge Criteria of the Organizational Form">
                </div>
              </div>
            </div>
            <button class="btn btn-outline-info" float="right" [disabled]="!analyticalThinkingForm.valid" (click)="addRowsForAnalyticalThinking()">Add another Criteria</button>
            <div class="m-portlet__foot m-portlet__foot--fit">
              <div class="m-form__actions">
                <button type="reset" class="btn btn-info" (click)="onSave('criticalThinking')">
                  Save & Continue to Next Step
                </button>
                <button class="btn btn-outline-info" (click)="onSkip('criticalThinking')">Skip</button>
              </div>
            </div>
          </form>
        </div>

        <div class="tab-pane" role="tabpanel" id="criticalThinking">
          <form class="m-form m-form--fit" [formGroup]="criticalThinkingForm">
            <div class="form-group m-form__group">
              <b>F. Critical Thinking </b>
            </div>
            <div class="form-group m-form__group" formArrayName="criticalThinkingValues" *ngFor="let items of criticalThinkingForm.get('criticalThinkingValues').controls; let i=index">
              <div class="form-group m-form__group row">
                <label for="example-text-input" class="col-4 col-form-label">
                  {{i+1}}. Skill Criteria
                  <span *ngIf="i === 0">*</span>
                </label>
                <div class="col-8" [formGroupName]="i">
                  <input class="form-control m-input" type="text" formControlName="ctValues" placeholder="Enter the Knowledge Criteria of the Organizational Form">
                </div>
              </div>
            </div>
            <button class="btn btn-outline-info" float="right" [disabled]="!criticalThinkingForm.valid" (click)="addRowsForCriticalThinking()">Add another Criteria</button>
            <div class="m-portlet__foot m-portlet__foot--fit">
              <div class="m-form__actions">
                <button type="reset" class="btn btn-info" (click)="onSave('uploadDocs')">
                  Save & Continue to Next Step
                </button>
                <button class="btn btn-outline-info" (click)="onSkip('uploadDocs')">Skip</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>

    <div *ngIf="uploadDocs">
      <div class="m-portlet__head">
        <div class="m-portlet__head-caption">
          <span class="m-portlet__head-icon m--hide">
            <i class="la la-gear"></i>
          </span>
          <div class="form-group m-form__group row">
            <label for="example-text-input" class="col-4 col-form-label">
              Upload the related Document according based on the category selected
            </label>
            <div class="col-8">
              <input #fileInput type="file" class="custom-file-input" id="customFile" (change)="onFileChange($event)">
              <label class="custom-file-label" for="customFile">
                {{file.name}}
              </label>
              <button type="button" class="btn btn-info" (click)="uploadFile()">Add file and Load</button>
              <button type="button" class="btn btn-outline-info">Download Template</button>

            </div>
          </div>
        </div>
      </div>
      <div class="m-portlet__head">
        <div class="m-portlet__head-caption">
          <span class="m-portlet__head-icon m--hide">
            <i class="la la-gear"></i>
          </span>
          <div class=" m-portlet__head form-group m-form__group row">
            <div class="row">
              <div>Your National Occupational Standard is almost complete, kindly review the same before sending the same to the
                Standard Team who will provide there review comments and take final decision on your final submit of the
                NOS.
              </div>
              <div>
                At any point of time you can review the NOS which you have created under "
                <a href="#">View all NOSs</a>"
              </div>
            </div>

            <div class="form-group m-form__group row">
              <label class="col-form-label col-lg-3 col-sm-12">
                <b>NEXT REVIEW DATE (EXPIRATION DATE)</b>
              </label>
              <div class="col-lg-4 col-md-9 col-sm-12">
                <div class="input-group date">
                  <input type="text" class="form-control m-input" id="m_datepicker_3" />
                  <div class="input-group-append">
                    <span class="input-group-text">
                      <i class="la la-calendar"></i>
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="m-portlet__foot m-portlet__foot--fit">
        <div class="m-form__actions">
          <button type="reset" class="btn btn-secondary" (click)="onEdit('generalDetails')">
            Edit Details
          </button>
          <button type="reset" class="btn btn-info" (click)="onSubmit('success')">
            Submit for Approval
          </button>
        </div>
      </div>
    </div>

    <div *ngIf="success">
      <div class="m-portlet__head-caption row">
        <div class="m-portlet__body">
          <div class="form-group m-form__group m--margin-top-10">
            <div class="row col-form-label col-lg-12 col-md-12 col-sm-12">
              <div class="col-md-4 dashedBackground">
                <div class="row">
                  <div class="col-md-6 padding1">
                    NOS ID:
                  </div>
                  <div class="col-md-6">
                    <b>{{NOSData.unitCode}}</b>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6 padding1">
                    Sector:
                  </div>
                  <div class="col-md-6">
                    <b> {{NOSData.sectors.sectorName}} </b>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6 padding1">
                    Document (Docket):
                  </div>
                  <div class="col-md-6">
                    <b> Attached </b>
                    (
                    <a href="">View</a>)
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6 padding1">
                    Next Review Date:
                  </div>
                  <div class="col-md-6">
                    <b>date</b>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6 padding1">
                    Version Number:
                  </div>
                  <div class="col-md-6">
                    <b>1.0</b>
                  </div>
                </div>
              </div>

              <div class="col-md-8 padding1">
                <div class="lineSpace">
                  <p>Your Occupational Standard complete and is sent to the Standard Team who will provide there review comments
                    and take final decision on your NOS creating request.</p>
                </div>
                <div></div>
                <div class="lineSpace">
                  <p>At any point of time you ca review the NOS which you have created under "
                    <a href="#">View all NOSs</a>" </p>
                </div>
              </div>
            </div>
          </div>
          <button type="submit" class="btn btn-primary" routerLink="/ssc/sqa">Back to Dashboard</button>
        </div>
      </div>
    </div>
  </div>
</div>
