/* Empty. Add your own CSS if you like */
.stylish-input-group .input-group-addon{
    background: white !important; 
}
.stylish-input-group .form-control{
    border-right: -1px !important; 
	box-shadow:0 0 0; 
	border-color:#ccc;
}
.stylish-input-group button{
    border:1px;
    background:transparent;
}

.title-text{
    font-size: 30px;
    font-weight: 600;
    margin-top: 5%;
    color: #252b34;
}
.login-input{
	border: none;
    border-bottom: 1px solid;
    background: transparent;
    border-radius: 0px;
    box-shadow: none;
	width: 100%;
	
	
	display: block;
    height: 42px;
    padding: 10px 20px;
    font-size: 14px;
    line-height: 1.42857;
    color: #555555;
    background-color: transparent;
    background-image: none;	
}

.category-list-text{
    margin-top: 5px;
}

.category-list-header{
    margin-bottom: 30px;
    font-weight: bold;
}

.text-bold {
    font-weight: bold;
}

.content-right{
    right:0
}

.display-inline{
    display: inline;
}

.color-blue{
    color: blue;
}

.cursor-pointer{
    cursor: pointer;
}

.background-rectangle{
    background-image: url('images/home-page/Rectangle 9.png');
    position: fixed;
}


.position-realtive{
    position: relative;
}

.min-height-rectangle-img{
    height: 150px;
    width: 160px;
    padding-top: 40px;
    padding-bottom:20px;
}

.padding-top-10{    
    padding-top: 10px
}

.text-white{
    color: white;
}
