<div class="m-grid__item m-grid__item--fluid m-wrapper">
  <!-- END: Subheader -->
  <div class="m-content">
    <div class="row">
      <div class="col-md-12">
        <!--begin::Portlet-->
        <div class="m-portlet m-portlet--tab">
          <div class="m-portlet__head">
            <div class="m-portlet__head-caption">
              <div class="m-portlet__head-title">
                <span class="m-portlet__head-icon m--hide">
                  <i class="la la-gear"></i>
                </span>
                <!-- <h3 class="m-portlet__head-text">
                  Add Training Centre
                </h3> -->
                <p class="errMessage"> </p>
              </div>
            </div>


            <!-- form -->
            <h3>Add a Training Centre</h3>
            <hr>
            <h2>Training Centre Info</h2>
            <form class="m-form m-form--fit m-form--label" [formGroup]="generalDetailsForm">
              <div class="m-portlet__body">
                <div class="form-group m-form__group m--margin-top-10 form_header">
                </div>
                <div class="form-group m-form__group row">
                  <label for="tp-details" class="col-4 col-form-label">
                    Training Centre Name
                  </label>
                  <div class="col-8">
                    <input class="form-control m-input" type="text" placeholder="Enter Full name of Training Centre" name="tc-name" formControlName="nameOfTc"
                      [(ngModel)]="tcActorData.trainingCentreName">
                    <app-form-control-messages [control]="generalDetailsForm.controls.nameOfTc" [name]="'Name oF Training Centre'"></app-form-control-messages>
                  </div>
                </div>
                <div class="form-group m-form__group row">
                  <label for="tp-details" class="col-4 col-form-label">
                    Address
                  </label>

                  <div class="col-8  ">

                    <textarea class="form-control m-textarea" type="text" name="tc-address" placeholder="Enter Full address of Training centre"
                      formControlName="address" [(ngModel)]="tcActorData.address.address1"></textarea>

                    <app-form-control-messages [control]="generalDetailsForm.controls.address" [name]="'addressLine1'"></app-form-control-messages>

                  </div>
                </div>
                <hr>
                <h2>Single Point of Contact Info</h2>
                <div class="form-group m-form__group row">
                  <label for="tp-details" class="col-4 col-form-label">
                    NAME OF THE SPOC
                  </label>
                  <div class="col-8">
                    <input class="form-control m-input" type="text" name="SPOC-name" placeholder="Here you need to input the name of the single point of contact person for this Training Centre"
                      formControlName="nameOfSpoc" [(ngModel)]="tcActorData.spoc.firstName">
                    <app-form-control-messages [control]="generalDetailsForm.controls.nameOfSpoc" [name]="'Name OF Spoc'"></app-form-control-messages>
                  </div>
                </div>
                <div class="form-group m-form__group row">
                  <label for="tp-details" class="col-4 col-form-label">
                    EMAIL ADDRESS
                  </label>
                  <div class="col-8">
                    <input class="form-control m-input" type="text" name="Spoc-email" placeholder="Enter the email address of the SPOC" formControlName="emailOfSpoc"
                      [(ngModel)]="tcActorData.spoc.email">
                    <app-form-control-messages [control]="generalDetailsForm.controls.emailOfSpoc" [name]="'Email OF Spoc'"></app-form-control-messages>
                  </div>
                </div>
                <div class="form-group m-form__group row">
                  <label for="tp-details" class="col-4 col-form-label">
                    MOBILE NUMBER
                  </label>
                  <div class="col-8">
                    <input class="form-control m-input" type="text" maxlength="10" name="mobile-number" placeholder="Enter mobile number of SPOC"
                      formControlName="mobileOfSpoc" [(ngModel)]="tcActorData.spoc.mobileNumber">
                    <app-form-control-messages [control]="generalDetailsForm.controls.mobileOfSpoc" [name]="'Mobile OF Spoc'"></app-form-control-messages>
                  </div>
                </div>

                <!-- <div class="form-group m-form__group row">
                  <label for="tp-details" class="col-4 col-form-label">
                    Training Centre Type:
                  </label>
                  <div class="col-8  ">
                    <select name="state" class="form-control m-input" id="exampleSelect1" formControlName="state" [(ngModel)]="selectedState.name"
                      (change)="getDistrict(selectedState.name)">
                      <option value="" disabled>Select Training Centre Type</option>
                      <option [ngValue]="stateData" *ngFor="let stateData of stateOptions.states">{{stateData.name}}</option>
                    </select>

                    <app-form-control-messages [control]="addressDetailsForm.controls.state" [name]="'State'"></app-form-control-messages>

                  </div>
                </div>
                <div class="form-group m-form__group row">
                  <label for="tp-details" class="col-4 col-form-label">
                    State:
                  </label>
                  <div class="col-8  ">
                    <select name="state" class="form-control m-input" id="exampleSelect1" formControlName="state" [(ngModel)]="selectedState.name"
                      (change)="getDistrict(selectedState.name)">
                      <option value="" disabled>Select State/Union Territory</option>
                      <option [ngValue]="stateData" *ngFor="let stateData of stateOptions.states">{{stateData.name}}</option>
                    </select>

                    <app-form-control-messages [control]="addressDetailsForm.controls.state" [name]="'State'"></app-form-control-messages>

                  </div>
                </div>
                <div class="form-group m-form__group row">
                  <label for="tp-details" class="col-4 col-form-label">
                    Scheme Associated:
                  </label>
                  <div class="col-8  ">
                    <select name="state" class="form-control m-input" id="exampleSelect1" formControlName="state" [(ngModel)]="selectedState.name"
                      (change)="getDistrict(selectedState.name)">
                      <option value="" disabled>Select associated Scheme to the Training Centre</option>
                      <option [ngValue]="stateData" *ngFor="let stateData of stateOptions.states">{{stateData.name}}</option>
                    </select>

                    <app-form-control-messages [control]="addressDetailsForm.controls.state" [name]="'State'"></app-form-control-messages>

                  </div>
                </div>

                <div class="form-group m-form__group row">
                  <label for="tp-details" class="col-4 col-form-label">
                    Holding Agency Assigned
                  </label>
                  <div class="col-8  ">
                    <select name="state" class="form-control m-input" id="exampleSelect1" formControlName="state" [(ngModel)]="selectedState.name"
                      (change)="getDistrict(selectedState.name)">
                      <option value="" disabled>Select Recommending Holding Agency</option>
                      <option [ngValue]="stateData" *ngFor="let stateData of stateOptions.states">{{stateData.name}}</option>
                    </select>

                    <app-form-control-messages [control]="addressDetailsForm.controls.state" [name]="'State'"></app-form-control-messages>

                  </div>
                </div> -->

              </div>
              <div class="m-portlet__foot m-portlet__foot--fit">
                <div class="m-form__actions">
                  <div class="row">
                    <div class="col-2"></div>
                    <div class="col-10 text-center">
                      <button type="button" class="btn btn-next" [disabled]="!generalDetailsForm.valid" (click)="saveTC()">
                        Save & Next
                      </button>
                      <a class="">
                        Save as Draft
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </form>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>