<h1>ABOUT</h1>

<div>
    <h2> 
    Connect Pro is a product of Akarmaxs Konnect pro private limited.The main vision of this product is connect people basis their Profession. There are different categories and sub categories under Connect Pro of all the professions present in the market today. Using this data users/consumers can get the right fit for the profession they are looking for based on the individuals Academics, Work Experience, Location and the skill sets they possess.There are different filters available within the Product which makes the search easier for the Users/Consumers looking for the right candidate for their organisation.

    At an Individual level anybody can register themselves on the website post their graduation and can get noticed for Job offers.
    Users can also book appointments using this product with the doctors through different search criteria ( Experience, Specialisation and Location based search).
    
    Currently we are focusing on the 7-8 main categories which includes :
    Medical services, Engineers, Legal consultants, Entertainment, Spirituality and Academics Etc.
    This product acts as one single platform connecting users/consumers to the service providers and also the sub-categories within the main categories will help users fetch the correct results based on their search query or filters used for the search</h2></div>