<div class="col-sm-12" style="background-image: url(images/Group76.png);height:100vh;width:100%">
	<div class="row">
		<div class="col-sm-12">
			<h2 style="text-align:center;margin-top:5%;color:white">Find Professionals</h2>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-12">
			<h3 style="text-align:center;margin-top:2%;color:white">Connecting professional together and beyond</h3>
		</div>
	</div>
	
	

	<div class="row" style="margin-top:3%; padding-bottom: 5%;">
		<div class="col-sm-6 col-sm-offset-3">
			<div id="imaginary_container">
				<div class="input-group stylish-input-group">
					<span class="input-group-addon">
						<button type="submit">
							<span class="glyphicon glyphicon-search"></span>
						</button>
					</span>
					<input type="text" class="form-control" style="background-color:white" placeholder="Search" />
					<span class="input-group-addon" style="background: #47bff3 !important;border: 0px !important;min-width: 150px;">
						<button type="submit" style="color:white">
							Submit
						</button>
					</span>
				</div>
			</div>
		</div>
	</div>
	
	<div class= "row" style="padding-bottom:3%;">
		<div class="col-sm-3 col-sm-offset-1" ><hr></div>
		
		<div class="col-sm-4" style ="text-align:center; color: white; font-size:20px;">Popular Services</div>
		
		<div class="col-sm-3"><hr></div>
	</div>
	
	<div class="row">
		<div class="col-2 col-sm-2 col-md-2 col-lg-2" style ="text-align:center;">
			<a ui-sref="doctors">
                    <div class="min-height-rectangle-img" style="background-image: url('images/home-page/Rectangle 9.png')">
                        <img class="" src="images/home-page/noun_79152_cc.png" class="img-responsive"
                        alt="">
                        <div class="text-white padding-top-10">Doctors</div>
                    </div>
			</a>
		</div>
		<div class="col-2 col-sm-2 col-md-2 col-lg-2" style ="text-align:center;">
			<a ui-sref="plumbers">
                    <div class="min-height-rectangle-img" style="background-image: url('images/home-page/Rectangle 9.png')">
                        <img class="" src="images/home-page/computer.png" class="img-responsive"
                        alt="">
                        <div class="text-white padding-top-10">Engineers</div>
                    </div>
			</a>
		</div>
		<div class="col-2 col-sm-2 col-md-2 col-lg-2" style ="text-align:center;">
			<a ui-sref="carpenters">
                    <div class="min-height-rectangle-img" style="background-image: url('images/home-page/Rectangle 9.png')">
                        <img class="" src="images/home-page/trial.png" class="img-responsive"
                        alt="">
                        <div class="text-white padding-top-10">Lawyers</div>
                    </div>
			</a>
		</div>
		<div class="col-2 col-sm-2 col-md-2 col-lg-2" style ="text-align:center;">
			<a ui-sref="architects">
                    <div class="min-height-rectangle-img" style="background-image: url('images/home-page/Rectangle 9.png')">
                        <img class="" src="images/home-page/teacher-pointing-blackboard.png" class="img-responsive"
                        alt="">
                        <div class="text-white padding-top-10">Academic</div>
                    </div>
			</a>
		</div>
		<div class="col-2 col-sm-2 col-md-2 col-lg-2" style ="text-align:center;">
			<a ui-sref="painters">
                    <div class="min-height-rectangle-img" style="background-image: url('images/home-page/Rectangle 9.png')">
                        <img class="" src="images/home-page/clapperboard.png" class="img-responsive"
                        alt="">
                        <div class="text-white padding-top-10">Entertaintment</div>
                    </div>
			</a>
		</div>
		<div class="col-2 col-sm-2 col-md-2 col-lg-2" style ="text-align:center;">
			<a ui-sref="electricians">
                    <div class="min-height-rectangle-img" style="background-image: url('images/home-page/Rectangle 9.png')">
                        <img class="" src="images/home-page/noun_801254_cc.png" class="img-responsive"
                        alt="">
                        <div class="text-white padding-top-10">Architects</div>
                    </div>
			</a>
        </div>
        
        <!-- <div class="col-2 col-sm-2 col-md-2 col-lg-2" style ="text-align:center;">
                <a ui-sref="electricians">
                        <div class="min-height-rectangle-img" style="background-image: url('images/home-page/Rectangle 9.png')">
                            <img class="" src="images/home-page/noun_188609_cc.png" class="img-responsive"
                            alt="">
                            <div class="text-white padding-top-10">Painters</div>
                        </div>
                </a>
            </div>

            <div class="col-2 col-sm-2 col-md-2 col-lg-2" style ="text-align:center;">
                    <a ui-sref="electricians">
                            <div class="min-height-rectangle-img" style="background-image: url('images/home-page/Rectangle 9.png')">
                                <img class="" src="images/home-page/noun_123801_cc.png" class="img-responsive"
                                alt="">
                                <div class="text-white padding-top-10">Electricians</div>
                            </div>
                    </a>
                </div> -->
	
	</div>
</div>