<div class="col-sm-12" style="background-color:#f1f0f5;height:100vh">
	<div class="container" style="background-color:white;top:10%;position:inherit;padding:0px">

		<div class="col-xs-6" style="padding:0px;margin:0px">
			<img style="height:100%;width:100%" src="images/Login.png" alt="">
		</div>
		<div class="col-xs-6" style="padding:0px;margin:0px">

			<div ng-cloak>
				<md-content style="background-color:white">
					<md-tabs md-dynamic-height md-stretch-tabs="always" md-border-bottom>
						<md-tab id="loginForm" label="log IN">
							<md-content class="col-xs-6 md-padding" style="margin-left:25%;margin-top:10%;background-color:white">
								<form name="form" ng-submit="login()" role="form">
									<div class="form-group">
										<label for="username">E-mail
											<span style="color:red">*</span>
										</label>
										<input class="login-input" type="text" name="username" id="username" class="form-control" ng-model="logindetails.username"
										 placeholder="Enter E-mail ID" required />
									</div>
									<div class="form-group">
										<label for="password">Password
											<span style="color:red">*</span>
										</label>
										<input class="login-input" type="password" name="password" id="loginPassword" class="form-control" ng-model="logindetails.password"
										 placeholder="Enter Password" required />

									</div>
									<div class="form-actions">
										<button type="submit" class="btn btn-primary">Login</button>
										<p>Not a member?
											<a href="#signUpForm" class="btn btn-link">Sign up</a>
										</p>
									</div>
								</form>

							</md-content>
						</md-tab>
						<md-tab id="signUpForm" label="Sign UP">
							<md-content class="md-padding" style="background-color:white">
								<form name="form" ng-submit="register()" role="form">
									<div class="form-group">
										<label for="username">Full Name</label>
										<input type="text" name="firstName" id="firstName" class="form-control" ng-model="signUp.name" placeholder="Enter Full Name"
										 required />

									</div>
									<div class="form-group">
										<label for="email">E-Mail</label>
										<input type="text" name="lastName" id="Text1" class="form-control" ng-model="signUp.email" placeholder="Enter E-mail-ID" required
										/>

									</div>
									<div class="form-group">
										<label for="username">list</label>
										<select class="form-control" ng-model="signUp.role">
											<option disabled selected value>-- select an option --</option>
											<option value="doctor">Doctor</option>
											<option value="driver">Driver</option>
											<option value="plumber">Plumber</option>
											<option value="doctor">Legal Services</option>
											<option value="driver">Academics</option>
											<option value="plumber">Entertainment</option>
											<option value="doctor">Engineers</option>
											<option value="driver">Astrologers</option>
											<option value="plumber">Chartered accountants</option>
										</select>
										<!-- <a class="btn btn-primary add-contract-button pull-right" ng-click="showPopup()">+</a> -->

										<!-- <input type="text" name="username" id="username" class="form-control" ng-model="username" placeholder = "drop down list" required /> -->

									</div>
									<div class="form-group">
										<label for="subCategory">Category</label>
										<input type="text" name="category" id="category" class="form-control" ng-model="signUp.category" placeholder="Enter Category"
										 required />

									</div>
									<div class="form-group">
										<label for="password">Password</label>
										<input type="password" name="password" id="password" class="form-control" ng-model="signUp.password" placeholder="Enter Password"
										 required />

									</div>
									<div class="form-group">
										<label for="password">Confirm Password</label>
										<input type="password" name="password" id="confirmPassword" class="form-control" ng-model="signUp.confirmPassword" placeholder="Confirm Password"
										 required />

									</div>
									<div class="form-actions">
										<button type="submit" class="btn btn-primary">Register</button>
										<a href="#!/login" class="btn btn-link">Cancel</a>
									</div>
								</form>

							</md-content>
						</md-tab>

					</md-tabs>
				</md-content>
			</div>

		</div>

	</div>
</div>