<!--     new form -->
<div class="m-content">
  <div class="row">
    <div class="col-xl-12">
      <div class="m-portlet m-portlet--tab">
        <div class="m-portlet__head">
          <div class="m-portlet__head-caption">
            <div class="m-portlet__head-title">
              <span class="m-portlet__head-icon m--hide">
                  <i class="la la-gear"></i>
                </span>
              <h3 class="m-portlet__head-text">
                Create User
              </h3>
              <span class="form_head_title right">
                <button class="bnt btn-with-border">Dashboard</button>
              </span>
            </div>
          </div>
        </div>
        <div class="m-portlet__body">
          <div class="form-group m-form__group m--margin-top-10 form_header">
               user Info
          </div>
          <form class="m-form m-form--fit m-form--label" [formGroup]="userDetailsForm">
            <div class="m-portlet__body">
              <div class="form-group m-form__group row">
                <label for="tp-details" class="col-3 col-form-label">
                        Select the User Type: 
                </label>
                <div class="col-7">
                  <select name="" class="form-control m-input" id="exampleSelect1" formControlName="role" [(ngModel)]="userData.role">
                    <app-form-control-messages [control]="userDetailsForm.controls.role" [name]="'User Type'"></app-form-control-messages>
                    <option value="" disabled>Choose the user type: Desktop assessor, Centre Inspector, Quality Controller</option>
                    <option value="Desktop Assessor"> Desktop Assessor </option>
                    <option value="Centre Inspector">Centre Inspector</option>
                    <option value="Quality Controller">Quality Controller</option>
                  </select>
                  <app-form-control-messages [control]="userDetailsForm.controls.role" [name]="'User Type'"></app-form-control-messages>
                </div>
              </div>
              <div class="form-group m-form__group row">
                <label for="tp-details" class="col-3 col-form-label">
                       Full Name
               </label>
                <div class="col-7">
                  <input class="form-control m-input" type="text" placeholder="Enter Full name " name="first-name" formControlName="firstName"
                    [(ngModel)]="userData.firstName">
                  <app-form-control-messages [control]="userDetailsForm.controls.firstName" [name]="'Name'"></app-form-control-messages>
                </div>
              </div>
              <div class="form-group m-form__group row">
                <label for="tp-details" class="col-3 col-form-label">
                       EMAIL ADDRESS 
                </label>
                <div class="col-7">
                  <input class="form-control m-input" type="text" name="email" placeholder="Enter the Email" formControlName="email" [(ngModel)]="userData.email">
                  <app-form-control-messages [control]="userDetailsForm.controls.email" [name]="'Email'"></app-form-control-messages>
                </div>
              </div>
              <div class="form-group m-form__group row">
                <label for="tp-details" class="col-3 col-form-label">
                       MOBILE NUMBER 
                </label>
                <div class="col-7">
                  <input class="form-control m-input" type="text" maxlength="10" name="mobile-number" placeholder="Enter mobile number" formControlName="mobile"
                    [(ngModel)]="userData.mobileNumber">
                  <app-form-control-messages [control]="userDetailsForm.controls.mobile" [name]="'Mobile'"></app-form-control-messages>
                </div>
              </div>
              <div class="form-group m-form__group row">
                <label for="tp-details" class="col-3 col-form-label">
                       AADHAR NUMBER 
                </label>
                <div class="col-7">
                  <input class="form-control m-input" type="text" maxlength="12" name="aadhar-number" placeholder="Enter aadhar number" formControlName="aadhar"
                    [(ngModel)]="userData.aadhar">
                  <app-form-control-messages [control]="userDetailsForm.controls.aadhar" [name]="'Aadhar Number'"></app-form-control-messages>
                </div>
              </div>
              <div class="form-group m-form__group row">
                <label for="tp-details" class="col-3 col-form-label">
                       Employee ID
                </label>
                <div class="col-7">
                  <input class="form-control m-input" type="text" placeholder="Enter Employee ID " name="employeeId" formControlName="employeeId"
                    [(ngModel)]="userData.employeeId">
                  <app-form-control-messages [control]="userDetailsForm.controls.employeeId" [name]="'Employee ID'"></app-form-control-messages>
                </div>
              </div>
              <div class="form-group m-form__group row">
                <label for="tp-details" class="col-3 col-form-label">
                       Employee ID
                </label>
                <div class="col-3  input-group">
                  <div class="custom-file">
                    <input type="file" class="custom-file-input" id="customFile">
                    <label class="custom-file-label" for="customFile">Address Proof</label>
                  </div>
                </div>
              </div>
              <div class="form-group m-form__group row">
                <label for="tp-details" class="col-3 col-form-label">
                       The above Person should be considered as: 
                </label>
                <div class="col-3  m-checkbox-list">
                    <label class="m-checkbox m-checkbox--brand">
                      <input type="checkbox">
                      Desktop assessor  
                      <span></span>
                    </label>
                    <label class="m-checkbox m-checkbox--brand">
                      <input type="checkbox">
                        Centre Inspection 
                      <span></span>
                    </label>
                    <label class="m-checkbox m-checkbox--primary">
                      <input type="checkbox">
                      Quality Control
                      <span></span>
                    </label>
                </div>
              </div>
            </div>
            <div class="m-portlet__foot m-portlet__foot--fit">
              <div class="m-form__actions">
                <div class="row">
                  <div class="col-2"></div>
                  <div class="col-10 text-center">
                    <button class="btn btn-next" [disabled]="!userDetailsForm.valid" (click)="saveUser()">
                             Submit
                    </button>
                    <button class=" btn btn-with-border" (click)="goBack()">
                       Close
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>