<div class="m-content">
  <div class="row">
    <div class="col-sm-12">
      <div class="m-portlet m-portlet--tab">
        <div class="m-portlet__head">
          <div class="m-portlet__head-caption">
            <div class="m-portlet__head-title">
              <span class="m-portlet__head-icon m--hide">
                <i class="la la-gear"></i>
              </span>
              <h3 class="m-portlet__head-text">
                All Assigned Inspection Requests
              </h3>
            </div>
          </div>
        </div>
        <div class="m-portlet__body">
            <div class="col-sm-6 form-group m-form__group">
                <div class="input-group">
                  <input type="text" class="form-control m-input" [(ngModel)]="searchKeyWord" (ngModelChange)="search()" placeholder="search by keyword"
                  />
                  <div class="input-group-append">
                    <span class="input-group-text" class="btn btn-next">
                      Search
                    </span>
                  </div>
                </div>
              </div>
          <div class="m_datatable m-datatable m-datatable--default  m-datatable--loaded" id="local_data" style="">
            <table class="m-datatable__table" style="display: block; min-height: 300px; overflow-x: auto;">
              <thead class="m-datatable__head">
                <tr class="m-datatable__row" style="left: 0px;">
                  <th data-field="RecordID" class="m-datatable__cell--center m-datatable__cell m-datatable__cell--check">
                    <span style="width: 50px;">
                      S.NO.
                    </span>
                  </th>
                  <th data-field="OrderID" class="m-datatable__cell m-datatable__cell--sort">
                    <span style="width: 150px;">Type of Request</span>
                  </th>
                  <th data-field="ShipName" class="m-datatable__cell m-datatable__cell--sort">
                    <span style="width: 150px;">Name of Requestee</span>
                  </th>
                  <th data-field="Currency" class="m-datatable__cell m-datatable__cell--sort">
                    <span style="width: 200px;">SPOC Email Address</span>
                  </th>
                  <th data-field="ShipAddress" class="m-datatable__cell m-datatable__cell--sort">
                    <span style="width: 100px;">Request ID</span>
                  </th>
                  <th data-field="Status" class="m-datatable__cell m-datatable__cell--sort">
                    <span style="width: 80px;">Status</span>
                  </th>
                  <th data-field="Actions" class="m-datatable__cell m-datatable__cell--sort">
                    <span style="width: 100px;">Actions</span>
                  </th>
                </tr>
              </thead>
              <tbody class="m-datatable__body" style="">
                <tr data-row="0" class="m-datatable__row" style="left: 0px;">
                  <td data-field="RecordID" class="m-datatable__cell--center m-datatable__cell m-datatable__cell--check">
                    <span style="width: 50px;">
                     1
                    </span>
                  </td>
                  <td data-field="OrderID" class="m-datatable__cell">
                    <span style="width: 150px;">68327-006</span>
                  </td>
                  <td data-field="ShipName" class="m-datatable__cell">
                    <span style="width: 150px;">Farrell and Sons</span>
                  </td>
                  <td data-field="Currency" class="m-datatable__cell">
                    <span style="width: 200px;">GEL</span>
                  </td>
                  <td data-field="ShipAddress" class="m-datatable__cell">
                    <span style="width: 100px;">38 Melrose Way</span>
                  </td>
                  <td data-field="Status" class="m-datatable__cell">
                    <span style="width: 80px;">
                      <span class="m-badge m-badge--brand m-badge--wide">Pending</span>
                    </span>
                  </td>
                  <td data-field="Actions" class="m-datatable__cell">
                    <span style="overflow: visible; width: 100px;">
                      <div class="dropdown ">
                        <a href="#" class="btn m-btn m-btn--hover-accent m-btn--icon m-btn--icon-only m-btn--pill" data-toggle="dropdown">
                          <i class="la la-ellipsis-h"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right">
                          <a class="dropdown-item" data-toggle="modal" data-target="#view-details">
                             View Quick Details
                          </a>
                          <a class="dropdown-item" (click)="takeAction()" >
                             Take Action
                          </a>
                        </div>
                      </div>
                    </span>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

   <!-- model  -->
  
  <div class="modal fade" id="view-details" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">
              Quick Details- Training Partner Registration Form
            </h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">
                &times;
              </span>
            </button>
          </div>
          <div class="modal-body">
            <form class="m-form m-form--fit m-form--label-align-right"  >
              <div class="m-portlet__body">
                <div class="form-group m-form__group row">
                  <label for="tp-details" class="col-3 col-form-label">
                    Request ID:
                  </label>
                  <div class="col-9">
                    <input class="form-control m-input" disabled type="text" name="Request_ID">
                     
                    <!-- <app-form-control-messages [control]="generalDetailsForm.controls.nameOfOrganisation" [name]="'Name oF Organisation'"></app-form-control-messages> -->
                  </div>
                </div>
                <div  class="form-group m-form__group row">
                  <label for="tp-details" class="col-3 col-form-label">
                    Assigned On:
                  </label>
                  <div class="col-9">
                    <input class="form-control m-input" disabled type="text"  name="assined_On">
                     
                    <!-- <app-form-control-messages [control]="generalDetailsForm.controls.nameOfOrganisation" [name]="'Name oF Organisation'"></app-form-control-messages> -->
                  </div>
                </div>
                <div class="form-group m-form__group row">
                  <label for="tp-details" class="col-3 col-form-label">
                    TP SPOC Name :
                  </label>
                  <div class="col-9">
                    <input class="form-control m-input" disabled type="text"  name="SPOC_Name">
                     
                    <!-- <app-form-control-messages [control]="generalDetailsForm.controls.nameOfOrganisation" [name]="'Name oF Organisation'"></app-form-control-messages> -->
                  </div>
                </div>
                <div class="form-group m-form__group row">
                  <label for="tp-details" class="col-3 col-form-label">
                    TP SPOC Email :
                  </label>
                  <div class="col-9">
                    <input class="form-control m-input" disabled type="text"  name="SPOC_Eemail">
                     
                    <!-- <app-form-control-messages [control]="generalDetailsForm.controls.nameOfOrganisation" [name]="'Name oF Organisation'"></app-form-control-messages> -->
                  </div>
                </div>
                <div class="form-group m-form__group row">
                  <label for="tp-details" class="col-3 col-form-label">
                    TP SPOC Mobile :
                  </label>
                  <div class="col-9">
                    <input class="form-control m-input" disabled type="text"  name="SPOC-mobile">
                     
                    <!-- <app-form-control-messages [control]="generalDetailsForm.controls.nameOfOrganisation" [name]="'Name oF Organisation'"></app-form-control-messages> -->
                  </div>
                </div>
              </div>
            </form>
          </div>
          <div class="modal-footer">
          
            <button  type="button" class="btn btn-next" (click)="reviewAssessment()">
              Review
            </button>
            <button type="button" class="btn  btn-cancel" data-dismiss="modal">
              Cancel
            </button>
          </div>
        </div>
      </div>
    </div>
