<!--     new form -->
<div class="m-content">
  <div class="row">
    <div class="col-xl-12">
      <div class="m-portlet m-portlet--tab">
        <div class="m-portlet__head">
          <div class="m-portlet__head-caption">
            <div class="m-portlet__head-title">
              <span class="m-portlet__head-icon m--hide">
                  <i class="la la-gear"></i>
                </span>
              <h3 class="m-portlet__head-text">
                Action & Update Registration form
              </h3>
              <span class="form_head_title right">
                <button class="bnt btn-with-border">View Submitted Form</button>
              </span>
            </div>
          </div>
        </div>
        <div class="m-portlet__body">
       
          <form class="m-form m-form--fit m-form--label">
            <div class="m-portlet__body">
          
              <div class="form-group m-form__group row">
                <label for="tp-details" class="col-3 col-form-label">
                       
               </label>
                <div class="col-7">
                  <input class="form-control m-input" type="text" placeholder="Enter Full name " name="">
                  <!-- <app-form-control-messages [control]="userDetailsForm.controls.firstName" [name]="'Name'"></app-form-control-messages> -->
                </div>
              </div>
                 
              <div class="form-group m-form__group row">
                <label for="tp-details" class="col-3 col-form-label">
                       Received Review Comment
               </label>
                <div class="col-7">
                  <textarea class="form-control m-input" type="text" placeholder=" " name=""></textarea>                </div>
              </div>
                   
              <div class="form-group m-form__group row">
                <label for="tp-details" class="col-3 col-form-label">
                      
               </label>
                <div class="col-7">
                  <input class="form-control m-input" type="file" placeholder="Enter Full name " name="">
                </div>
              </div>  
              <div class="form-group m-form__group row">
                <label for="tp-details" class="col-3 col-form-label">
                       
               </label>
                <div class="col-7">
                 <button class="btn btn-with-border">Save</button>
              </div>
            </div>
            <hr>
            </div>
            <div class="m-portlet__foot m-portlet__foot--fit">
              <div class="m-form__actions">
                <div class="row">
                  <div class="col-2"></div>
                  <div class="col-10 text-center">
                    <button class="btn btn-next"  (click)="saveUser()">
                             Save &  Submit for Review 
                    </button>
                    <button class=" btn btn-with-border" (click)="goBack()">
                       Cancel
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>