<div class="m-content">
  <div class="m-subheader" appunwraptag="">
    <div class="d-flex align-items-center">
      <div class="mr-auto">
        <h3 class="m-subheader__title m-subheader__title--separator">
          Assessment Requests
        </h3>
        <ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
          <li class="m-nav__item m-nav__item--home">
            <a href="#" class="m-nav__link m-nav__link--icon">
              <i class="m-nav__link-icon la la-home"></i>
            </a>
          </li>
          <li class="m-nav__separator">
            -
          </li>

          <li class="m-nav__item">
            <a href="" class="m-nav__link">
              <span class="m-nav__link-text">
                Dashboard
              </span>
            </a>
          </li>
        </ul>
      </div>
      <div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xl-6">
      <div class="dashboard">
        <div class="row">
          <div class="dashboad-title">
            <p class="header-item">Assessment/Inspection Requests</p>
            <p class="sub-title">Here you can view/edit your Assessment request for TP Registration </p>
          </div>
        </div>
        <div class="row">
          <div class="dashboard-card">
            <div class="card" routerLink="create-user">
              <i class="fa fa-plus " aria-hidden="true"></i>
              <div class="card-text">
                <p class="card-title continue-last-title">Continue Last</p>
                <p class="card-title">Assessment Request</p>
                <p class="continue-last-font">Continue Last Assessment</p>
              </div>

            </div>

            <div class="card" routerLink="view-assessmentrequest">
              <i class="fa fa-plus " aria-hidden="true"></i>
              <div class="card-text">
                <p class="card-title " (click)="viewAssesmentRequest()">View All Assessment Requests</p>
                <p class="continue-last-font">All Assigned Requests</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-6">
      <div class="dashboard">
        <div class="row">
          <div class="dashboard-data">
            <ul class="data-list">
              <li class="data-list-item">
                <span class="list-title">Total Assigned Request</span>
                <br>
                <span class="list-subtitle">Assigned from inspection agency</span>
              </li>
              <li class="data-list-item right">23423</li>
              <hr>
              <li class="data-list-item">
                <span class="list-title">Total Re-Assigned Request</span>
                <br>
                <span class="list-subtitle">re-assigned after update from user</span>
              </li>
              <li class="data-list-item right">23423</li>
              <hr>
              <li class="data-list-item">
                <span class="list-title">Pending Request</span>
                <br>
                <span class="list-subtitle">Pending assessment request to action</span>
              </li>
              <li class="data-list-item right">23423</li>
              <hr>
              <li class="data-list-item">
                <span class="list-title">In-Progress Request</span>
                <br>
                <span class="list-subtitle">In-progress assessment requests</span>
              </li>
              <li class="data-list-item right">23423</li>
              <hr>
              <li class="data-list-item">
                <span class="list-title">Completed Requests</span>
                <br>
                <span class="list-subtitle">Completed assessment requests</span>
              </li>
              <li class="data-list-item right">23423</li>
            </ul>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>