.m-content {
    margin: 0px 30px !important;
}
.modal-footer {
    display: initial;
    margin: auto;
}
.btn-next {
    width: auto;
    background-color: #2980b9;
    color: #ffffff;
}
.btn-cancel {
    width: auto;
    border: 1px solid #2980b9;
    background-color: #ffffff;
    
}
a.dropdown-item {
    cursor: pointer;
}
.m-form .m-form__section.m-form__section--label-align-right .m-form__group > label, .m-form.m-form--label-align-right .m-form__group > label {
    text-align: left;
}