<div class="row">
	<div class="col-sm-12">
		<label class="col-sm-6">NAME OF THE MASTER TRAINER</label>
		<span class="col-sm-6">:</span>
		{{trinerMaster.name}}
	</div>
	<div class="col-sm-12">
		<label class="col-sm-6">STATE</label>
		<span class="col-sm-6">:</span>
		{{trinerMaster.address.state}}
	</div>
	<div class="col-sm-12">
		<label class="col-sm-6">DISTRICT</label>
		<span class="col-sm-6">:</span>
		{{trinerMaster.address.district}}
	</div>
	<div class="col-sm-12">
		<label class="col-sm-6">SECTOR</label>
		<span class="col-sm-6">:</span>
		{{trinerMaster.sector.name}}
	</div>
	<div class="col-sm-12">
		<label class="col-sm-6">SUB-SECTOR</label>
		<span class="col-sm-6">:</span>
		{{trinerMaster.sector.subSector[0]}}
	</div>
	<div class="col-sm-12">
		<label class="col-sm-6">JOB ROLE</label>
		<span class="col-sm-6">:</span>
		{{trinerMaster.jobRole}}
	</div>
	<div class="col-sm-12">
		<label class="col-sm-6">EMAIL ADDRESS OF THE MASTER TRAINER</label>
		<span class="col-sm-6">:</span>
		{{trinerMaster.email}}
	</div>
	<div class="col-sm-12">
		<label class="col-sm-6">PHONE NUMBER OF MASTER TRAINER</label>
		<span class="col-sm-6">:</span>
		{{trinerMaster.mobileNumber}}
	</div>
	<div class="col-sm-12">
		<label class="col-sm-6">ASSOCIATED TRAINING CENTER</label>
		<span class="col-sm-6">:</span>
		{{trinerMaster.associatedTC}}
	</div>
	<div class="col-sm-12">
		<label class="col-sm-6">ADDRESS OF THE TRAINING CENTER</label>
		<span class="col-sm-6">:</span>
		{{trinerMaster.address.district}},{{trinerMaster.address.state}}
	</div>
</div>
<div class="row">
	<div class="col-sm-12"></div>
	<div class="col-sm-8"></div>
	<button class="btn btn-primary" data-toggle="modal" data-target="#m_modal_1">SUBMIT TO MT FOR ACCEPTANCE</button>
	<div class="col-sm-4"></div>
</div>
<div class="modal fade" id="m_modal_1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-body">
				<p>
					SENT TO MASTER TRAINER FOR ACCEPTANCE
				</p>
				<button type="button" class="btn btn-primary align-center" data-dismiss="modal">
					OK
				</button>
			</div>
		</div>
	</div>
</div>