<!--<div class="m-grid__item m-grid__item--fluid m-wrapper">-->
<!--<div class="m-content">
  <div class="row">
    <div class="col-sm-12">
      <div class="m-portlet m-portlet--tab">
        <div class="m-portlet__head">
          <div class="m-portlet__head-caption">
            <div class="m-portlet__head-title">
              <span class="m-portlet__head-icon m--hide">
                <i class="la la-gear"></i>
              </span>
              <h3 class="m-portlet__head-text">
                All Assigned Inspection Requests
              </h3>
              <div class="dashbord-btn-position">
                <button type="button" class="btn btn-outline-info">Dashbord</button>
              </div>
            </div>
          </div>
        </div>
        <div class="m-portlet__body">
          <div class="col-sm-6 form-group m-form__group">
            <div class="input-group">
              <input type="text" class="form-control m-input" [(ngModel)]="searchKeyWord" (ngModelChange)="search()" placeholder="search by keyword"
              />
              <div class="input-group-append">
                <span class="input-group-text" class="btn btn-next">
                  Search
                </span>
              </div>
            </div>
          </div>
          <div class="m_datatable m-datatable m-datatable--default  m-datatable--loaded" id="local_data" style="">
            <table class="m-datatable__table" style="display: block; min-height: 300px; overflow-x: auto;">
              <thead class="m-datatable__head">
                <tr class="m-datatable__row" style="left: 0px;">
                  <th data-field="RecordID" class="m-datatable__cell--center m-datatable__cell m-datatable__cell--check">
                    <span style="width: 50px;">
                      S.NO.
                    </span>
                  </th>
                  <th data-field="OrderID" class="m-datatable__cell m-datatable__cell--sort">
                    <span style="width: 150px;">Type of Request</span>
                  </th>
                  <th data-field="ShipName" class="m-datatable__cell m-datatable__cell--sort">
                    <span style="width: 150px;">Name of Requestee</span>
                  </th>
                  <th data-field="Currency" class="m-datatable__cell m-datatable__cell--sort">
                    <span style="width: 200px;">SPOC Email Address</span>
                  </th>
                  <th data-field="ShipAddress" class="m-datatable__cell m-datatable__cell--sort">
                    <span style="width: 100px;">Request ID</span>
                  </th>
                  <th data-field="Status" class="m-datatable__cell m-datatable__cell--sort">
                    <span style="width: 80px;">Status</span>
                  </th>
                  <th data-field="Actions" class="m-datatable__cell m-datatable__cell--sort">
                    <span style="width: 100px;">Actions</span>
                  </th>
                </tr>
              </thead>
              <tbody class="m-datatable__body" style="">
                <tr data-row="0" class="m-datatable__row" style="left: 0px;">
                  <td data-field="RecordID" class="m-datatable__cell--center m-datatable__cell m-datatable__cell--check">
                    <span style="width: 50px;">
                      1
                    </span>
                  </td>
                  <td data-field="OrderID" class="m-datatable__cell">
                    <span style="width: 150px;">68327-006</span>
                  </td>
                  <td data-field="ShipName" class="m-datatable__cell">
                    <span style="width: 150px;">Farrell and Sons</span>
                  </td>
                  <td data-field="Currency" class="m-datatable__cell">
                    <span style="width: 200px;">GEL</span>
                  </td>
                  <td data-field="ShipAddress" class="m-datatable__cell">
                    <span style="width: 100px;">38 Melrose Way</span>
                  </td>
                  <td data-field="Status" class="m-datatable__cell">
                    <span style="width: 80px;">
                      <span class="m-badge m-badge--brand m-badge--wide">Pending</span>
                    </span>
                  </td>
                  <td data-field="Actions" class="m-datatable__cell">
                    <span style="overflow: visible; width: 100px;">
                      <div class="dropdown ">
                        <a href="#" class="btn m-btn m-btn--hover-accent m-btn--icon m-btn--icon-only m-btn--pill" data-toggle="dropdown">
                          <i class="la la-ellipsis-h"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right">
                          <a class="dropdown-item" data-toggle="modal" data-target="#view-details">
                            View Quick Details
                          </a>
                          <a class="dropdown-item" data-toggle="modal" data-target="#take-action">
                            Take Action
                          </a>
                        </div>
                      </div>
                    </span>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- model  -->
<div class="modal fade" id="view-details" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">
          Quick Details- Training Partner Registration Form
        </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">
            &times;
          </span>
        </button>
      </div>
      <div class="modal-body">
        <form class="m-form m-form--fit m-form--label-align-right">
          <div class="m-portlet__body">
            <div class="form-group m-form__group row">
              <label for="tp-details" class="col-3 col-form-label">
                Request ID:
              </label>
              <div class="col-9">
                <input class="form-control m-input" disabled type="text" name="Request_ID">

                <!-- <app-form-control-messages [control]="generalDetailsForm.controls.nameOfOrganisation" [name]="'Name oF Organisation'"></app-form-control-messages> -->
              </div>
            </div>
            <div class="form-group m-form__group row">
              <label for="tp-details" class="col-3 col-form-label">
                Assigned On:
              </label>
              <div class="col-9">
                <input class="form-control m-input" disabled type="text" name="assined_On">

                <!-- <app-form-control-messages [control]="generalDetailsForm.controls.nameOfOrganisation" [name]="'Name oF Organisation'"></app-form-control-messages> -->
              </div>
            </div>
            <div *ngIf="!ShowTakeAction" class="form-group m-form__group row">
              <label for="tp-details" class="col-3 col-form-label">
                SPOC Name:
              </label>
              <div class="col-9">
                <input class="form-control m-input" disabled type="text" name="assined_To">

                <!-- <app-form-control-messages [control]="generalDetailsForm.controls.nameOfOrganisation" [name]="'Name oF Organisation'"></app-form-control-messages> -->
              </div>
            </div>

            <div *ngIf="!ShowTakeAction" class="form-group m-form__group row">
              <label for="tp-details" class="col-3 col-form-label">
                SPOC Email:
              </label>
              <div class="col-9">
                <input class="form-control m-input" disabled type="text" name="Status">

                <!-- <app-form-control-messages [control]="generalDetailsForm.controls.nameOfOrganisation" [name]="'Name oF Organisation'"></app-form-control-messages> -->
              </div>
            </div>

            <div class="form-group m-form__group row">
              <label for="tp-details" class="col-3 col-form-label">
                SPOC Mobile :
              </label>
              <div class="col-9">
                <input class="form-control m-input" disabled type="text" name="SPOC_Name">

                <!-- <app-form-control-messages [control]="generalDetailsForm.controls.nameOfOrganisation" [name]="'Name oF Organisation'"></app-form-control-messages> -->
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">

        <button *ngIf="!ShowTakeAction" type="button" class="btn btn-next" (click)="takeAction()">
          Take Action
        </button>
        <button *ngIf="ShowTakeAction" type="button" class="btn btn-next">
          Assign
        </button>
        <button type="button" class="btn  btn-cancel" data-dismiss="modal">
          Cancel
        </button>
      </div>
    </div>
  </div>
</div>
<!-- END: Subheader -->
<div class="m-content">
  <div class="m-subheader" appunwraptag="">
    <div class="d-flex align-items-center">
      <div class="mr-auto">
        <h3 class="m-subheader__title m-subheader__title--separator">
          Assessment Requests
        </h3>
        <ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
          <li class="m-nav__item m-nav__item--home">
            <a href="#" class="m-nav__link m-nav__link--icon">
              <i class="m-nav__link-icon la la-home"></i>
            </a>
          </li>
          <li class="m-nav__separator">
            -
          </li>

          <li class="m-nav__item">
            <a href="" class="m-nav__link">
              <span class="m-nav__link-text">
                TP Registration Form
              </span>
            </a>
          </li>
          <li class="m-nav__separator">
            -
          </li>
          <li class="m-nav__item">
            <a href="" class="m-nav__link">
              <span class="m-nav__link-text">
                Review
              </span>
            </a>
          </li>
        </ul>
      </div>
      <div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <!--begin::Portlet-->
      <div class="m-portlet m-portlet--tab">
        <div class="m-portlet__head">
          <div class="m-portlet__head-caption">
            <div class="m-portlet__head-title">
              <span class="m-portlet__head-icon m--hide">
                <i class="la la-gear"></i>
              </span>
              <h3 class="m-portlet__head-text">
                Training Partner Registartion Form - Req ID : 2342344 , Assigned On : 10 Dec2017
              </h3>
            </div>
          </div>
        </div>
        <div class="form-group m-form__group m--margin-top-10 form_header">
          <ul class="view-assesment-btn">
            <li>
              <button type="button" class="btn btn-secondary m-btn--wide">General Details & Address</button>
            </li>
            <li>
              <button type="button" class="btn btn-secondary m-btn--wide">Financial</button>
            </li>
            <li>
              <button type="button" class="btn btn-secondary m-btn--wide">Assessment Result</button>
            </li>
          </ul>
        </div>
        <div class="view-assesment-form">
          <form class="m-form m-form--fit m-form--label-align-right " *ngIf="currentForm==0">

            <div class="m-portlet__body ">

              <div class="form-group m-form__group row">
                <label for="tp-details" class="col-3 col-form-label view-assesment-formtext">
                  Name of the Organisation:
                </label>
                <div class="col-7">
                  <input class="form-control m-input" type="text" name="organization-name" disabled>
                </div>
              </div>
              <div class="form-group m-form__group row">
                <label for="tp-details" class="col-3 col-form-label view-assesment-formtext">
                  Review Comments
                </label>
                <div class="col-7  ">
                  <select name="" class="form-control m-input">
                    <option value="" disabled>Select Review Comments</option>
                    <option value="private"> Private </option>
                    <option value="government">Government</option>
                  </select>
                </div>
              </div>
              <div class="form-group m-form__group row">
                <label for="tp-details" class="col-3 col-form-label">
                </label>
                <div class="col-7">
                  <textarea class="form-control m-textarea" type="text" placeholder="Enter your free floating Additional Review Comments if any which need to be sent to the Training Partner updation"></textarea>
                </div>
              </div>
              <hr>
              <div class="form-group m-form__group row">
                <label for="tp-details" class="col-3 col-form-label view-assesment-formtext">
                  Type Of the Organization:
                </label>
                <div class="col-7">
                  <input class="form-control m-input" type="text" maxlength="12" disabled>
                </div>
              </div>
              <div class="form-group m-form__group row">
                <label for="tp-details" class="col-3 col-form-label view-assesment-formtext">
                  Review Comments
                </label>
                <div class="col-7">
                  <select name="" class="form-control m-input" id="exampleSelect1">
                    <option value="" disabled>Select Review Comments</option>
                    <option value="private"> Private </option>
                    <option value="government">Government</option>

                  </select>
                </div>
              </div>
              <div class="form-group m-form__group row">
                <label for="tp-details" class="col-3 col-form-label">

                </label>
                <div class="col-7">
                  <textarea class="form-control m-textarea" type="text" placeholder="Enter your free floating Additional Review Comments if any which need to be sent to the Training Partner updation"></textarea>
                </div>
              </div>
              <hr>
              <div class="form-group m-form__group row">
                <label for="tp-details" class="col-3 col-form-label view-assesment-formtext">
                  Website Of the Organization:
                </label>
                <div class="col-7">
                  <input class="form-control m-input" type="text" disabled>
                </div>
              </div>
              <div class="form-group m-form__group row">
                <label for="tp-details" class="col-3 col-form-label view-assesment-formtext">
                  Review Comments
                </label>
                <div class="col-7">
                  <select name="" class="form-control m-input">
                    <option value="" disabled>Select Review Comments</option>
                    <option value="private"> Private </option>
                    <option value="government">Government</option>

                  </select>
                </div>
              </div>
              <div class="form-group m-form__group row">
                <label for="tp-details" class="col-3 col-form-label">

                </label>
                <div class="col-7">
                  <textarea class="form-control m-textarea" type="text" name="org-address" placeholder="Enter your free floating Additional Review Comments if any which need to be sent to the Training Partner updation"></textarea>
                </div>
              </div>
              <hr>
              <div class="form-group m-form__group row">
                <label for="tp-details" class="col-3 col-form-label view-assesment-formtext">
                  Address of the Organisation:
                </label>
                <div class="col-7">
                  <input class="form-control m-input" type="text" disabled>
                </div>
              </div>
              <div class="form-group m-form__group row">
                <label for="tp-details" class="col-3 col-form-label view-assesment-formtext">
                  Nearby Landmark
                </label>
                <div class="col-7">
                  <input class="form-control m-input" type="text" disabled>
                </div>
              </div>
              <div class="form-group m-form__group row">
                <label for="tp-details" class="col-3 col-form-label view-assesment-formtext">
                  Pincode:
                </label>
                <div class="col-7">
                  <input class="form-control m-input" type="text" disabled>
                </div>
              </div>
              <div class="form-group m-form__group row">
                <label for="tp-details" class="col-3 col-form-label view-assesment-formtext">
                  State/Union Territory:
                </label>
                <div class="col-7">
                  <input class="form-control m-input" type="text" disabled>
                </div>
              </div>
              <div class="form-group m-form__group row">
                <label for="tp-details" class="col-3 col-form-label view-assesment-formtext">
                  District/City:
                </label>
                <div class="col-7">
                  <input class="form-control m-input" type="text" disabled>
                </div>
              </div>
              <div class="form-group m-form__group row">
                <label for="tp-details" class="col-3 col-form-label view-assesment-formtext">
                  Tehsil/Mandal:
                </label>
                <div class="col-7">
                  <input class="form-control m-input" type="text" disabled>
                </div>
              </div>
              <div class="form-group m-form__group row">
                <label for="tp-details" class="col-3 col-form-label view-assesment-formtext">
                  Parlimentary Consistuency:
                </label>
                <div class="col-7">
                  <input class="form-control m-input" type="text" disabled>
                </div>
              </div>
              <div class="form-group m-form__group row">
                <label for="tp-details" class="col-3 col-form-label view-assesment-formtext">
                  Review Comments:
                </label>
                <div class="col-7">
                  <select name="" class="form-control m-input">
                    <option value="" disabled>Select Review Comments</option>
                    <option value="private"> Private </option>
                    <option value="government">Government</option>
                  </select>
                </div>
              </div>
              <div class="form-group m-form__group row">
                <label for="tp-details" class="col-3 col-form-label">

                </label>
                <div class="col-7">
                  <textarea class="form-control m-textarea" type="text" placeholder="Enter your free floating Additional Review Comments if any which need to be sent to the Training Partner updation"></textarea>
                </div>
              </div>
              <hr>
              <div class="form-group m-form__group row">
                <label for="tp-details" class="col-3 col-form-label view-assesment-formtext">
                  Address Proof Of the Organization:
                </label>
                <div class="col-4">
                  <input class="form-control m-input" type="text" maxlength="12" disabled>
                </div>
                <div class="col-5 ">
                  <button type="button" class="btn btn-outline-info">Download Attached Proof Document</button>
                </div>
              </div>
              <div class="form-group m-form__group row">
                <label for="tp-details" class="col-3 col-form-label view-assesment-formtext">
                  Review Comments
                </label>
                <div class="col-7">
                  <select name="" class="form-control m-input" id="exampleSelect1">
                    <option value="" disabled>Select Review Comments</option>
                    <option value="private"> Private </option>
                    <option value="government">Government</option>

                  </select>
                </div>
              </div>
              <div class="form-group m-form__group row">
                <label for="tp-details" class="col-3 col-form-label">

                </label>
                <div class="col-7">
                  <textarea class="form-control m-textarea" type="text" name="org-address" placeholder="Enter your free floating Additional Review Comments if any which need to be sent to the Training Partner updation"></textarea>
                </div>
              </div>
              <div class="m-portlet__foot m-portlet__foot--fit">
                <div class="m-form__actions">
                  <div class="row">
                    <div class="col-3"></div>
                    <div class="col-7">
                      <button type="button" class="btn btn-next " (click)="save()">
                        Save & Continue
                      </button>
                      <button type="button" class="btn btn-outline-info"> Save as Draft
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </form>
        </div>
        <form class="m-form m-form--fit m-form--label-align-right " *ngIf="currentForm==1">
          <div class="m-portlet__body ">

            <div class="form-group m-form__group row">
              <label for="tp-details" class="col-3 col-form-label view-assesment-formtext">
                Permanent Account Number(PAN):
              </label>
              <div class="col-3">
                <input class="form-control m-input" type="text" placeholder="Account Number" disabled>
              </div>
              <div class="col-4">
                <button type="button" class="btn btn-outline-info">Download Attached Proof Document</button>
              </div>
            </div>
            <div class="form-group m-form__group row">
              <label for="tp-details" class="col-3 col-form-label view-assesment-formtext">
                Review Comments
              </label>
              <div class="col-7">
                <select name="" class="form-control m-input">
                  <option value="" disabled>Select Review Comments</option>
                  <option value=""> </option>
                </select>
              </div>
            </div>
            <div class="form-group m-form__group row">
              <label for="tp-details" class="col-3 col-form-label">
              </label>
              <div class="col-7">
                <textarea class="form-control m-textarea" type="text" placeholder="Enter your free floating Additional Review Comments if any which need to be sent to the Training Partner updation"></textarea>
              </div>
            </div>
            <hr>
            <div class="form-group m-form__group row">
              <label for="tp-details" class="col-3 col-form-label view-assesment-formtext">
                Tax payer Identification Number (TIN):
              </label>
              <div class="col-3">
                <input class="form-control m-input" type="text" placeholder="Account Number" disabled>
              </div>
              <div class="col-4">
                <button type="button" class="btn btn-outline-info">Download Attached Proof Document</button>
              </div>
            </div>
            <div class="form-group m-form__group row">
              <label for="tp-details" class="col-3 col-form-label view-assesment-formtext">
                Review Comments
              </label>
              <div class="col-7  ">
                <select name="" class="form-control m-input">
                  <option value="" disabled>Select Review Comments</option>
                  <option value=""> </option>
                </select>
              </div>
            </div>
            <div class="form-group m-form__group row">
              <label for="tp-details" class="col-3 col-form-label view-assesment-formtext">
              </label>
              <div class="col-7">
                <textarea class="form-control m-textarea" type="text" placeholder="Enter your free floating Additional Review Comments if any which need to be sent to the Training Partner updation"></textarea>
              </div>
            </div>
            <hr>
            <div class="form-group m-form__group row">
              <label for="tp-details" class="col-3 col-form-label view-assesment-formtext">
                Tax Deduction Account Number (TAN):
              </label>
              <div class="col-3">
                <input class="form-control m-input" type="text" placeholder="Account Number" disabled>
              </div>
              <div class="col-4">
                <button type="button" class="btn btn-outline-info">Download Attached Proof Document</button>
              </div>
            </div>
            <div class="form-group m-form__group row">
              <label for="tp-details" class="col-3 col-form-label view-assesment-formtext">
                Review Comments
              </label>
              <div class="col-7  ">
                <select name="" class="form-control m-input">
                  <option value="" disabled>Select Review Comments</option>
                  <option value=""> </option>
                </select>
              </div>
            </div>
            <div class="form-group m-form__group row">
              <label for="tp-details" class="col-3 col-form-label view-assesment-formtext">
              </label>
              <div class="col-7">
                <textarea class="form-control m-textarea" type="text" placeholder="Enter your free floating Additional Review Comments if any which need to be sent to the Training Partner updation"></textarea>
              </div>
            </div>
            <hr>
            <div class="form-group m-form__group row">
              <label for="tp-details" class="col-3 col-form-label view-assesment-formtext">
                GST Account Number (GST):
              </label>
              <div class="col-3">
                <input class="form-control m-input" type="text" placeholder="Account Number" disabled>
              </div>
              <div class="col-4">
                <button type="button" class="btn btn-outline-info">Download Attached Proof Document</button>
              </div>
            </div>
            <div class="form-group m-form__group row">
              <label for="tp-details" class="col-3 col-form-label view-assesment-formtext">
                Review Comments
              </label>
              <div class="col-7  ">
                <select name="" class="form-control m-input">
                  <option value="" disabled>Select Review Comments</option>
                  <option value=""> </option>
                </select>
              </div>
            </div>
            <div class="form-group m-form__group row">
              <label for="tp-details" class="col-3 col-form-label view-assesment-formtext">
              </label>
              <div class="col-7">
                <textarea class="form-control m-textarea" type="text" placeholder="Enter your free floating Additional Review Comments if any which need to be sent to the Training Partner updation"></textarea>
              </div>
            </div>
            <hr>
            <div class="form-group m-form__group row">
              <label for="tp-details" class="col-3 col-form-label view-assesment-formtext">
                Aadhar Account Number:
              </label>
              <div class="col-3">
                <input class="form-control m-input" type="text" placeholder="Account Number" disabled>
              </div>
              <div class="col-4">
                <button type="button" class="btn btn-outline-info">Download Attached Proof Document</button>
              </div>
            </div>
            <div class="form-group m-form__group row">
              <label for="tp-details" class="col-3 col-form-label view-assesment-formtext">
                Review Comments
              </label>
              <div class="col-7  ">
                <select name="" class="form-control m-input">
                  <option value="" disabled>Select Review Comments</option>
                  <option value=""> </option>
                </select>
              </div>
            </div>
            <div class="form-group m-form__group row">
              <label for="tp-details" class="col-3 col-form-label view-assesment-formtext">
              </label>
              <div class="col-7">
                <textarea class="form-control m-textarea" type="text" placeholder="Enter your free floating Additional Review Comments if any which need to be sent to the Training Partner updation"></textarea>
              </div>
            </div>
            <hr>
            <div class="form-group m-form__group row">
              <label for="tp-details" class="col-3 col-form-label view-assesment-formtext">
                Year of Establishment:
              </label>
              <div class="col-3">
                <input class="form-control m-input" type="text" placeholder="Year of Establishment" disabled>
              </div>
              <div class="col-4">
                <button type="button" class="btn btn-outline-info">Download Attached Proof Document</button>
              </div>
            </div>
            <div class="form-group m-form__group row">
              <label for="tp-details" class="col-3 col-form-label view-assesment-formtext">
                Review Comments
              </label>
              <div class="col-7  ">
                <select name="" class="form-control m-input">
                  <option value="" disabled>Select Review Comments</option>
                  <option value=""> </option>
                </select>
              </div>
            </div>
            <div class="form-group m-form__group row">
              <label for="tp-details" class="col-3 col-form-label view-assesment-formtext">
              </label>
              <div class="col-7">
                <textarea class="form-control m-textarea" type="text" placeholder="Enter your free floating Additional Review Comments if any which need to be sent to the Training Partner updation"></textarea>
              </div>
            </div>
            <hr>
            <div class="form-group m-form__group row">
              <label for="tp-details" class="col-3 col-form-label view-assesment-formtext">
                Financial Year 2014-2015
              </label>
              <div class="col-3">
                <input class="form-control m-input" type="text" placeholder="Annual Turn Value" disabled>
              </div>
              <div class="col-4">
                <button type="button" class="btn btn-outline-info">Download Attached Proof Document</button>
              </div>
            </div>
            <div class="form-group m-form__group row">
              <label for="tp-details" class="col-3 col-form-label view-assesment-formtext">
                Review Comments
              </label>
              <div class="col-7">
                <select name="" class="form-control m-input">
                  <option value="" disabled>Select Review Comments</option>
                  <option value=""> </option>
                </select>
              </div>
            </div>
            <div class="form-group m-form__group row">
              <label for="tp-details" class="col-3 col-form-label view-assesment-formtext">
              </label>
              <div class="col-7">
                <textarea class="form-control m-textarea" type="text" placeholder="Enter your free floating Additional Review Comments if any which need to be sent to the Training Partner updation"></textarea>
              </div>
            </div>
            <hr>
            <div class="form-group m-form__group row">
              <label for="tp-details" class="col-3 col-form-label view-assesment-formtext">
                Financial Year 2015-2016
              </label>
              <div class="col-3">
                <input class="form-control m-input" type="text" placeholder="Annual Turnover Value" disabled>
              </div>
              <div class="col-4">
                <button type="button" class="btn btn-outline-info">Download Attached Proof Document</button>
              </div>
            </div>
            <div class="form-group m-form__group row">
              <label for="tp-details" class="col-3 col-form-label view-assesment-formtext">
                Review Comments
              </label>
              <div class="col-7">
                <select name="" class="form-control m-input">
                  <option value="" disabled>Select Review Comments</option>
                  <option value=""> </option>
                </select>
              </div>
            </div>
            <div class="form-group m-form__group row">
              <label for="tp-details" class="col-3 col-form-label view-assesment-formtext">
              </label>
              <div class="col-7">
                <textarea class="form-control m-textarea" type="text" placeholder="Enter your free floating Additional Review Comments if any which need to be sent to the Training Partner updation"></textarea>
              </div>
            </div>
            <hr>
            <div class="form-group m-form__group row">
              <label for="tp-details" class="col-3 col-form-label view-assesment-formtext">
                Financial Year 2016-2017
              </label>
              <div class="col-3">
                <input class="form-control m-input" type="text" placeholder="Annual Turnover Value" disabled>
              </div>
              <div class="col-4">
                <button type="button" class="btn btn-outline-info">Download Attached Proof Document</button>
              </div>
            </div>
            <div class="form-group m-form__group row">
              <label for="tp-details" class="col-3 col-form-label view-assesment-formtext">
                Review Comments
              </label>
              <div class="col-7">
                <select name="" class="form-control m-input">
                  <option value="" disabled>Select Review Comments</option>
                  <option value=""> </option>
                </select>
              </div>
            </div>
            <div class="form-group m-form__group row">
              <label for="tp-details" class="col-3 col-form-label view-assesment-formtext">
              </label>
              <div class="col-7">
                <textarea class="form-control m-textarea" type="text" placeholder="Enter your free floating Additional Review Comments if any which need to be sent to the Training Partner updation"></textarea>
              </div>
            </div>
            <div class="m-portlet__foot m-portlet__foot--fit">
              <div class="m-form__actions">
                <div class="row">
                  <div class="col-3"></div>
                  <div class="col-7">
                    <button type="button" class="btn btn-next " (click)="save()">
                      Save & Continue
                    </button>
                    <button type="button" class="btn btn-outline-info"> Save as Draft
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </form>
        <form class="m-form m-form--fit m-form--label-align-right " *ngIf="currentForm==2">
          <div class="m-portlet__body ">
            <div class="form-group m-form__group row">
              <label for="tp-details" class="col-3 col-form-label view-assesment-formtext">
                Final Review Status:
              </label>
              <div class="col-7">
                <input class="form-control m-input" type="text" placeholder="Deemed Not Ready" disabled>
              </div>
            </div>
            <div class="form-group m-form__group row">
              <label for="tp-details" class="col-3 col-form-label view-assesment-formtext">
              </label>
              <div class="col-7">
                <label class="m-checkbox m-checkbox--default">
                  <input type="checkbox"> Edit And Switch the Final Status
                  <span></span>
                </label>
              </div>
            </div>
            <div class="form-group m-form__group row">
              <label for="tp-details" class="col-3 col-form-label view-assesment-formtext">
              </label>
              <div class="col-7">
                <textarea class="form-control m-textarea" type="text" placeholder="Enter your free floating Additional Review Comments if any which need to be sent to the Training Partner updation"></textarea>
              </div>
            </div>
            <div class="form-group m-form__group row">
              <label for="tp-details" class="col-3 col-form-label view-assesment-formtext">
              </label>
              <div class="col-3">
                <div class="custom-file">
                  <input type="file" class="custom-file-input" id="customFile">
                  <label class="custom-file-label" for="customFile">Upload Document to support</label>
                </div>
              </div>
            </div>
            <div class="m-portlet__foot m-portlet__foot--fit">
              <div class="m-form__actions">
                <div class="row">
                  <div class="col-3"></div>
                  <div class="col-7">
                    <button type="button" class="btn btn-next " (click)="save()">
                      Save & Continue
                    </button>
                    <button type="button" class="btn btn-outline-info"> Save as Draft
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>-->
<!--</div>-->