<!-- <div class="m-content">
	<div class="m-subheader" appunwraptag="">
		<div class="d-flex align-items-center">
			<div class="mr-auto">
				<h3 class="m-subheader__title m-subheader__title--separator">
					ToT, ToA, ToMT, ToMA
				</h3>
				<ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
					<li class="m-nav__item m-nav__item--home">
						<a href="#" class="m-nav__link m-nav__link--icon">
							<i class="m-nav__link-icon la la-home"></i>
						</a>
					</li>
					<li class="m-nav__separator">
						-
					</li>
					<li class="m-nav__item">
						<a href="" class="m-nav__link">
							<span class="m-nav__link-text">
								Dashborad
							</span>
						</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-10 col-lg-10 col-sm-12">
			<div class="dashboard">
				<div class="dashboad-title">
					<div class="row">
						<button type="button" class="btn m-btn--pill btn-primary dashboard-title-nav-btn">
							ToT
						</button>
						<button type="button" class="btn m-btn--pill btn-primary dashboard-title-nav-btn">
							ToA
						</button>
						<button type="button" class="btn m-btn--pill btn-primary dashboard-title-nav-btn">
							ToMT
						</button>
						<button type="button" class="btn m-btn--pill btn-primary dashboard-title-nav-btn">
							ToMA
						</button>
					</div>
					<div class="row">
						<p class="header-item">Training of Trainers and Assessors</p>
						<p class="sub-title">Here you can create and edit a ToT, ToA, ToMT</p>
					</div>
				</div>
				<div class="row">
					<div class="dashboard-card">
						<div class="card" routerLink="training-of-trainers/create-batch/existing-training-center">
							<i class="fa fa-plus " aria-hidden="true"></i>
							<p class="card-subtitle">Create Batch</p>
						</div>
						<div class="card">
							<img src="">
							<p class="card-subtitle">Training of Assessors</p>
						</div>

						<div class="card">
							<img src="">
							<p class="card-subtitle">Training of Master Trainer</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div> -->