<section id="product" class="doservice" style="height:100vh;padding-top: 0px; background-image: url(images/aboutUs.jpg); background-size:cover;background-position:center;background-repeat:no-repeat;opacity: 0.9;">
	<div class="container">
		<div class="row" style="margin-top: 20%;margin-right:0px;margin-left:0px">
			<div class="main_doservice sections">
				<div class="head_title text-center aboutclass" style="width:100%;background-color: #afbdd0c2;padding: 10px;border-radius: 20px;">
					<!-- <h4 class="subtitle">Service</h4> -->
					<h2 style="color: #281f1e;font-weight: 600;font-family: fantasy;">About Us</h2>
					<div class="separator" style="height:2px;background-color:#65594a;margin-top:-20px;margin-bottom:10px"></div>
					<p style="color: #281f1e;font-weight: 600;font-size:17px;text-align:justify">The brick and mortar, and the ecommerce industries are riding neck to neck in terms of giving the best experience, product
						range, price, offers, and promotions. While the e-commerce giants are prominent in the e-tail industry, it still does
						not provide for immediate gratification of most products on our wish list.
					</p>
					<!-- <p style="color: #281f1e;font-weight: 600;font-size:17px">Voila! Findurstore starts with a ‘have it all, know it all platform’ for shoppers and brands to connect. In our effort
						to help serve you better, we are trying to move from seeing random ads, to portraying the right promo for a brand to
						you as a shopper. Helping make your shopping experience a better one, while we help you get the best offers on your
						buys, is what we’re striving to achieve.</p> -->
				</div>


			</div>
		</div>
	</div>
</section>