<section id="contact" class="section" style="padding-top: 15px;padding-bottom: 10%;height:100%;background-image: url(images/Contactuspage.jpeg); background-size:cover;background-position:center;background-repeat:no-repeat;opacity: 0.9;">

	<div class="row" style="margin:15px">
		<div class="col-xs-12 col-sm-6 col-md-6 conForm contactForm">
			<!-- <h5 style="font-family:fantasy;margin-top:5%">Shoot An Email</h5> -->
			<h5 style="font-family:fantasy;margin-top:5%">We'd love to hear from you, so pen down your thoughts here and we'll get back to you asap!</h5>
			<div id="message"></div>
			<form name="cform" id="cform" ng-submit="sendInfo()">
				<input ng-model="contact.name" name="name" id="name" type="text" class="col-xs-12 col-sm-12 col-md-12 col-lg-12 glowing-border-contact"
				 placeholder="Your name..." required>
				<input ng-model="contact.email" name="email" id="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" type="text" class=" col-xs-12 col-sm-12 col-md-12 col-lg-12 noMarr glowing-border-contact"
				 placeholder="Email Address..." required>
				<input ng-model="contact.phone" name="phnumber" id="phnumber" type="phnumber" class=" col-xs-12 col-sm-12 col-md-12 col-lg-12 noMarr glowing-border-contact"
				 placeholder="Phone Number..." required>
				<textarea ng-model="contact.message" name="comments" id="comments" cols="" rows="" class="col-xs-12 col-sm-12 col-md-12 col-lg-12 glowing-border-contact"
				 placeholder="Details..." style="height: 120px;" required></textarea>
				<input type="submit" id="submit" name="send" class="submitBnt " value="Send your query">
				<div id="simple-msg"></div>
			</form>
		</div>

		<div class="col-xs-12 col-sm-5 col-sm-offset-1 col-md-5 col-md-offset-1 conForm contactForm" style="margin-top:20px;margin-bottom:20px">
			

			<div class="row">
				<div class="col-xs-12">
						<h3 class="pull-left" style="font-family:fantasy;margin-top:10%">What's Better!!!</h3>
					<h3 class="pull-left" style="font-family:fantasy;margin-bottom:10%">Let's have a chai Pe charcha anytime, in our office</h3>
				</div>
				<div class="col-xs-12" style="padding-right: 0px;">
					<div class="col-xs-12" style="margin-bottom: 10px;padding-right: 0px;">
						<div class="col-xs-2 glyphicon glyphicon-home pull-left contact-icon-font" style="margin-left: -7%;padding-right: 0px;"></div>
						<div class="col-xs-10" style="padding-right: 0px;">
							<h3>#60, 4th 'A' Cross, 2nd Main, Maruthi Nagar, Badrappa Layout, Hebbal, Bangalore - 560094.</h3>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
					<div class="col-xs-12" style="padding-right: 0px;">
						<h3 class="pull-left" style="font-family:fantasy;margin-bottom:10%;padding-right: 0px;">Call us anytime </h3>
					</div>
					<div class="col-xs-12" style="padding-right: 0px;">
						<div class="col-xs-2 glyphicon glyphicon-earphone pull-left contact-icon-font" style="margin-left: -2%;padding-right: 0px;"></div>
						<div class="col-xs-10" style="margin-left: -10%;padding-right: 0px;">
							<a href="tel:+919945157271"><h3>+91 9739583335</h3></a>
						</div>
					</div>
				</div>
		</div>
	</div>
</section>