<div class="col-sm-12" style="background-color:#f1f0f5;height:100vh">
 <div class="container">
  <div class="row" style="margin-top: 2%;">
   <h4 style="font-size: 17px;
   color: grey;">10 matches found for doctors</h4>
  </div>

  <div class="row">
   <div class="col-xs-8" style="background-color:white;padding: 10px;">

    <div class="col-sm-2" style="margin-top:1%;padding-bottom:0px">
     <img src="images/doc.png" class="img-thumbnail" style="max-height: 128px !important;width: auto;border: 0px;border-radius: 5px;" alt="Cinque Terre">
    </div>
    <div class="col-xs-7">
     <div class="col-xs-12" style="margin-top:1%;text-align:justify;color:#48bff2;font-weight: 600;">Dr Sharath Kumar</div>
     <div class="col-xs-12" style="margin-top:1%;text-align:justify;font-size: 13px">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard.</div>
     <div class="col-xs-12" style="margin-top:1%;margin-bottom:1%;text-align:justify;font-size: 13px"><u>Image Title</u></div>
     <div class="col-xs-12" style="margin-top:1%;margin-bottom:1%">
      <div class="col-xs-2">
       <img src="images/doc.png" class="img-rounded" style="width:auto;height:50px" alt="Cinque Terre">
      </div>
      <div class="col-xs-2">
       <img src="images/doc.png" class="img-rounded" style="width:auto;height:50px" alt="Cinque Terre">
      </div>
      <div class="col-xs-2">
       <img src="images/doc.png" class="img-rounded" style="width:auto;height:50px" alt="Cinque Terre">
      </div>
      <div class="col-xs-2">
       <img src="images/doc.png" class="img-rounded" style="width:auto;height:50px" alt="Cinque Terre">
      </div>
      <div class="col-xs-2">
       <img src="images/doc.png" class="img-rounded" style="width:auto;height:50px" alt="Cinque Terre">
      </div>
     </div>
    </div>
    <div class="col-xs-3" style="margin-top:1%;padding-left:0px">
     <div class="col-xs-12" style="margin-top:7%">
      <span class="glyphicon glyphicon-thumbs-up" style="margin-right:5px;color: #48bff2;font-size: 18px;">
      </span>
      <span style="color:#789e70;font-size: 13px">
       99%
      </span>
      <span style="font-size: 13px">
       (997 Voltes)
      </span>
     </div>
     <div class="col-xs-12" style="margin-top: 7%;padding-right:0px">
      <span class="glyphicon glyphicon-map-marker" style="margin-right:5px;color: #48bff2;font-size: 18px;">
      </span>
      <span style="text-align:justify;font-size: 11px">
       Banshankri,Bangalore.
      </span>
     </div>
     <div class="col-xs-12" style="margin-top:7%">
      <span class="glyphicon glyphicon-time" style="margin-right:5px;color: #48bff2;font-size: 18px;">
      </span>
      <span style="color:#789e70;font-size: 13px">
       Available Today
      </span>
     </div>
     <div class="col-xs-12" style="margin-top:8%"> 
      <button style="background-color: #48bff2;border: 0px;color: white;padding: 10px;font-size: 12px">
       BOOK APPOINTMENT
      </button>
     </div>
    </div>
   </div>
  </div>

 </div>
</div>