<section id="teams" class="section teams" style="padding-top: 0px;height:100vh;padding-top: 0px; background-image: url(images/ourteamweb.jpg); background-size:cover;background-position:center;background-repeat:no-repeat;opacity: 0.9; height:100%">
	<div class="container">
	 <div class="head_title text-center" style="background-color:#f0ffffad;border-radius:10px;margin-top:10px">
	  <!-- <h4 class="subtitle">Service</h4> -->
	  <h2 style="    padding-top: 3%;font-family:fantasy">Our Team</h2>
	  <div class="separator"></div>
	  <p style="padding-bottom:10px" class="team-text-color">Meet our next gen innovative team who are striving hard to bring in a revolutionary product into the market to change
	   the course of offline market, with an ingenious strategy to promote sales and products better offline, by using the digital
	   medium.</p>
	 </div>
   
   
   
	 <!-- <div class="head_title text-center" style = "margin-bottom: 60px;
   margin-top: -10px;"><h2>Our Team</h2></div> -->
	 <div class="row" style="margin-top: 7%;">
	  <div class="col-xs-9 col-xs-offset-1 col-sm-9 col-sm-offset-1 col-md-3 col-md-offset-1" style="margin-bottom: 6%;background-color:#f0ffffad;border-radius:10px;">
	   <div class="person" style="margin-top:10px">
		<img src="images/users.png" alt="" class="img-responsive">
		<div class="person-content">
		 <h4  style="font-family: fantasy;">Prayag</h4>
		 <p class="team-text-color">A Bengaluru huduga, born, bred and raised… I love spending time meeting new people; sharing & learning from their experiences.  When I’m not doing either of the above, I’m usually finding some place to party at, or drive off to. While my beer and caffeine are sacred, the wheel is my sanctum. Usually eclectic with my choice in music, I most definitely enjoy travel with good company. </p>
		 <p class="team-text-color">Would love to host you sometime, please do give us a call or you could connect with me on LinkedIn. Look forward to meeting you soon.. ‘Lets put a dent in the Universe.’ Cheers!</p>
		 <!-- <p>Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. </p> -->
		</div>
		<li><a href="#"><span class="fa fa-linkedin"></span></a></li>
		<!-- <ul class="social-icons clearfix">
			   <li><a href="#"><span class="fa fa-facebook"></span></a></li>
			   <li><a href="#"><span class="fa fa-twitter"></span></a></li>
			   
			   <li><a href="#"><span class="fa fa-google-plus"></span></a></li>
			   <li><a href="#"><span class="fa fa-dribbble"></span></a></li>
			 </ul> -->
	   </div>
	  </div>
	  <div class="col-xs-9 col-xs-offset-1 col-sm-9 col-sm-offset-1 col-md-3 col-md-offset-1  " style="margin-bottom: 6%;background-color:#f0ffffad;border-radius:10px;">
	   <div class="person" style="margin-top:10px">
		<img src="images/users.png" alt="" class="img-responsive">
		<div class="person-content">
		 <h4  style="font-family: fantasy;">Nikhil</h4>
		 <p class="team-text-color">I’m the shy numbers guy.. With a strong affinity for photography, it isn't unusual to find me off on  weekend escapades with my royal girlfriend, the Bullet. A passive motor head, I loves my chrome, and pizzas to binge on. Buy me a cheesy pizza, and I’m all ROLLED up in a corner..</p>
		 <p class="team-text-color">I’d be happy to spend some quiet time with you, if you bought me a pizza. Please feel free to write to me @ nikhil@findurstore.com </p>
		 <!-- <p>Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p> -->
		</div>
		<!-- <ul class="social-icons clearfix">
			   <li><a href="#" class=""><span class="fa fa-facebook"></span></a></li>
			   <li><a href="#" class=""><span class="fa fa-twitter"></span></a></li>
			   <li><a href="#" class=""><span class="fa fa-linkedin"></span></a></li>
			   <li><a href="#" class=""><span class="fa fa-google-plus"></span></a></li>
			   <li><a href="#" class=""><span class="fa fa-dribbble"></span></a></li>
			 </ul> -->
	   </div>
	  </div>
	  <div class="col-xs-9 col-xs-offset-1 col-sm-9 col-sm-offset-1 col-md-3 col-md-offset-1 " style="margin-bottom: 6%;background-color:#f0ffffad;border-radius:10px;">
	   <div class="person" style="margin-top:10px">
		<img src="images/users.png" alt="" class="img-responsive">
		<div class="person-content">
		 <h4 style="font-family: fantasy;">Anil</h4>
		 <p class="team-text-color">Awkward as is, I’m a specimen of contradictions! While I love to keep myself busy and entertained with my niece of few months, my mornings given a choice, will not start before 11 AM. While I love travelling, I refuse to take the wheel with friends around. </p>
		 <p class="team-text-color">When I’m not glued to the monitor (watching movies, not working), I spend time on getting beat with current affair debates and travel with friends. I’ve been famed with the title of Gourmand to my credit (the volumes of rice he can eat! Phew!!!). That said, would love to catch up sometime! Please feel free to reach out at anil@findurstore.com</p>
		 <!--  <p>Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p> -->
		</div>
		<!-- <ul class="social-icons clearfix">
			   <li><a href="#" class=""><span class="fa fa-facebook"></span></a></li>
			   <li><a href="#" class=""><span class="fa fa-twitter"></span></a></li>
			   <li><a href="#" class=""><span class="fa fa-linkedin"></span></a></li>
			   <li><a href="#" class=""><span class="fa fa-google-plus"></span></a></li>
			   <li><a href="#" class=""><span class="fa fa-dribbble"></span></a></li>
			 </ul> -->
	   </div>
	  </div>
	  
	 </div>
	</div>
   </section>
   <!-- our team section -->