<section id="product" class="doservice" style="height:100%;padding-top: 0px; background-image: url(images/ourVision.jpg); background-size:cover;background-position:center;background-repeat:no-repeat;opacity: 0.9;">
	<div class="container">
		<div class="row" style="margin-top:10%;margin-right:0px;margin-left:0px;margin-bottom:5%;padding-bottom:15%">
			<div class="col-sm-12 main_doservice sections" style = "background-color: #c5c9d0a8;padding-top: 20px;border-radius: 20px;padding-bottom: 10px;">
				<div class="head_title text-center aboutvandm">
					<!-- <h4 class="subtitle">Service</h4> -->
					<h2 style="font-family:fantasy">Our Vision</h2>
					<div class="separator" style="height:2px;background-color:#5c73ae;margin-top:-10px;margin-bottom:10px"></div>
					<p style = "color: #343434;font-weight: 600;font-size: 17px;text-align:justify">"To constantly strive and achieve an enhanced, trusted & wholesome experience for our customers, by being a brand’s
						primary go to team, for their marketing and engagement solution..."</p>
				</div>

				<div class="head_title text-center aboutvandm" style="margin-top:5%; ">
					<!-- <h4 class="subtitle">Service</h4> -->
					<h2 style="font-family:fantasy">Our Mission</h2>
					<div class="separator" style="height:2px;background-color:#5c73ae;margin-top:-10px;margin-bottom:10px"></div>
					<p style = "color: #343434;font-weight: 600;font-size: 17px;text-align:justify">"In our effort to redefine approach to customers, we are constantly listening and working on building a world class
						product for brands to engage with their target audience in the most optimal way to provide a seamless experience across
						the online and offline media. Empowering buyers and brands, through use of information, to make the right purchase,
						and absolute targeting decisions."</p>
				</div>


			</div>
		</div>
	</div>
</section>